Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

rust-fmt:
  run: cargo fmt -- --check
  stage_fixed: true

node-format:
  run: cd versatiles_node && npm run format:check
  stage_fixed: true

node-typecheck:
  run: cd versatiles_node && npm run typecheck

node-lint:
  run: cd versatiles_node && npm run lint

feat(serve): make the Cache-Control header configurable
  versatiles/CONFIG.md
  versatiles/src/config/main.rs
  versatiles/src/config/server.rs
  versatiles/src/server/handlers.rs
  versatiles/src/server/routes.rs
  versatiles/src/server/tile_server.rs
  versatiles/src/tools/serve.rs
  versatiles_node/src/lib.rs
  versatiles_node/src/server.rs
  versatiles_node/src/types/server_options.rs
Due: rust-fmt

feat(VPL): add bbox_border to filter
  versatiles_pipeline/README.md
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/read/from_container.rs
Due: rust-fmt

feat: introduce GeoCrop for managing geographic crops with optional border tiles
  versatiles/src/tools/convert.rs
  versatiles_container/src/types/converter.rs
  versatiles_core/src/types/geo_crop.rs
  versatiles_core/src/types/mod.rs
  versatiles_pipeline/src/operations/general/filter.rs
Due: rust-fmt

feat(VPL): check a pipeline without building it
  versatiles/src/tools/convert.rs
  versatiles_derive/src/decode_vpl.rs
  versatiles_node/src/lib.rs
  versatiles_node/src/vpl.rs
  versatiles_pipeline/src/check.rs
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/lib.rs
  versatiles_pipeline/src/operations/macros.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/operation.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/vector/vector_filter_features.rs
  versatiles_pipeline/src/operations/vector/vector_filter_layers.rs
  versatiles_pipeline/src/operations/vector/vector_filter_properties.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
  versatiles_pipeline/src/vpl/mod.rs
Due: rust-fmt

fix(pmtiles): reject an incompatible source before writing anything
  versatiles_container/src/container/pmtiles/types/entries_v3.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/traversal/mod.rs
  versatiles_container/src/traversal/processing.rs
Due: rust-fmt

feat(mbtiles): recompress rather than refuse a valid format
  versatiles_container/src/container/mbtiles/mod.rs
  versatiles_container/src/container/mbtiles/sink.rs
  versatiles_container/src/container/mbtiles/writer.rs
Due: rust-fmt

fix(dependabot): add security group to all package ecosystems
  .github/dependabot.yml
Due: none

fix(vpl): correct function name reference in documentation
  versatiles_node/src/vpl.rs
Due: rust-fmt

build: run cargo doc with --features gdal in check-rust.sh
  DEVELOPMENT.md
  scripts/check-rust.sh
Due: none

fix(check-rust.sh): update comments for clarity on CI checks and feature sets
  scripts/check-rust.sh
Due: none

feat: add flip_x method for horizontal mirroring in TileBBox, TileCoord, TileCover, TilePyramid, and TileQuadtree
  versatiles_core/src/types/tile_bbox/mutate.rs
  versatiles_core/src/types/tile_coord.rs
  versatiles_core/src/types/tile_cover/mutate.rs
  versatiles_core/src/types/tile_pyramid/mutate.rs
  versatiles_core/src/types/tile_quadtree/mutate.rs
Due: rust-fmt

feat(VPL): add remap_coords, and share the remapping with the converter
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/mod.rs
  versatiles_container/src/types/remapped_source.rs
  versatiles_container/tests/converter_remap.rs
  versatiles_core/src/types/mod.rs
  versatiles_core/src/types/tile_bbox/mutate.rs
  versatiles_core/src/types/tile_pyramid/mutate.rs
  versatiles_core/src/types/tile_quadtree/mutate.rs
  versatiles_core/src/types/tile_remap.rs
  versatiles_pipeline/README.md
  versatiles_pipeline/src/operations/general/mod.rs
  versatiles_pipeline/src/operations/general/remap_coords.rs
  versatiles_pipeline/src/operations/mod.rs
Due: rust-fmt

fix(ci): remove GDAL setup step from CI workflow
  .github/workflows/ci.yml
Due: none

fix(gdal): remove --testing option for GDAL installation on Ubuntu to prevent fallback issues
  .github/actions/setup-gdal/action.yml
  scripts/install-gdal.sh
Due: none

fix(ci): update GDAL setup in CI workflow to use container image and install build tools
  .github/workflows/ci.yml
Due: none

fix(core): return an error instead of panicking on a mismatched CSV separator
  versatiles_core/src/utils/csv.rs
Due: rust-fmt

feat(csv): let a consumer inspect a CSV header with the reader from_csv uses
  versatiles_core/src/utils/csv.rs
  versatiles_pipeline/src/helpers/csv.rs
  versatiles_pipeline/src/lib.rs
Due: rust-fmt

feat(node): expose the per-layer byte breakdown
  Cargo.lock
  versatiles_node/Cargo.toml
  versatiles_node/src/layer_stats.rs
  versatiles_node/src/layer_stats.test.ts
  versatiles_node/src/lib.rs
Due: rust-fmt, node-format

refactor(probe): return the analysis instead of only printing it
  versatiles/src/tools/dev_tools/shortbread/mod.rs
  versatiles/src/tools/mod.rs
  versatiles/src/tools/probe.rs
  versatiles_container/src/lib.rs
  versatiles_container/src/probe/mod.rs
  versatiles_container/src/probe/report.rs
  versatiles_container/src/probe/sampling.rs
  versatiles_geometry/src/vector_tile/stats.rs
Due: rust-fmt

feat(pipeline): let a transform say whether it applies to a source
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/lib.rs
  versatiles_pipeline/src/operations/dem/dem_overview.rs
  versatiles_pipeline/src/operations/dem/dem_quantize.rs
  versatiles_pipeline/src/operations/dem/dem_tile_resize.rs
  versatiles_pipeline/src/operations/macros.rs
  versatiles_pipeline/src/operations/raster/raster_flatten.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_mask/mod.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
  versatiles_pipeline/src/operations/raster/raster_tile_resize.rs
  versatiles_pipeline/src/operations/vector/vector_filter_features.rs
  versatiles_pipeline/src/operations/vector/vector_filter_layers.rs
  versatiles_pipeline/src/operations/vector/vector_filter_properties.rs
  versatiles_pipeline/src/operations/vector/vector_overzoom.rs
  versatiles_pipeline/src/operations/vector/vector_repair.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
Due: rust-fmt

feat(pipeline): export the operation factory traits
  versatiles_pipeline/src/lib.rs
Due: rust-fmt

fix(container): remove a partial output when a write fails
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/types/container_registry.rs
Due: rust-fmt

feat(container): carry format-specific writer options on the runtime
  versatiles/src/tools/convert.rs
  versatiles_container/src/container/mock/writer.rs
  versatiles_container/src/runtime/builder.rs
  versatiles_container/src/runtime/inner.rs
  versatiles_container/src/runtime/outer.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/writer.rs
  versatiles_node/src/convert.rs
  versatiles_node/src/convert.test.ts
  versatiles_node/src/lib.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/types/convert_options.rs
Due: rust-fmt, node-format

feat(pmtiles): allow_unclustered opts in to an unclustered archive
  versatiles/src/tools/convert.rs
  versatiles_container/src/container/pmtiles/writer.rs
Due: rust-fmt

feat(pmtiles): reorder buys clustering back with a second pass
  versatiles_container/Cargo.toml
  versatiles_container/src/container/pmtiles/types/entries_v3.rs
  versatiles_container/src/container/pmtiles/writer.rs
Due: rust-fmt

feat(pmtiles): name every way forward when a source cannot be clustered
  versatiles_container/src/container/pmtiles/writer.rs
Due: rust-fmt

docs(convert_options): clarify example for writer_options and key formatting
  versatiles_node/src/types/convert_options.rs
Due: rust-fmt

docs(node): list writerOptions where the convert options are listed
  versatiles_node/src/convert.rs
  versatiles_node/src/tile_source.rs
Due: rust-fmt

test(node): cover a writer option that is accepted, not only refused
  versatiles_node/src/convert.test.ts
Due: node-format

docs(node): say what the PMTiles writer options cost
  versatiles_node/README.md
  versatiles_node/src/types/convert_options.rs
Due: rust-fmt

feat(node): let a caller name the SSH key
  versatiles_node/README.md
  versatiles_node/src/convert.rs
  versatiles_node/src/convert.test.ts
  versatiles_node/src/lib.rs
  versatiles_node/src/runtime.rs
  versatiles_node/src/server.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/tile_source.test.ts
  versatiles_node/src/types/convert_options.rs
  versatiles_node/src/types/mod.rs
  versatiles_node/src/types/source_options.rs
Due: rust-fmt, node-format

feat(node): make sftp:// work as a source and a destination
  versatiles_node/Cargo.toml
  versatiles_node/README.md
  versatiles_node/src/convert.rs
  versatiles_node/src/convert.test.ts
  versatiles_node/src/tile_source.rs
  versatiles_node/src/tile_source.test.ts
Due: rust-fmt, node-format

docs(cli): correct the SFTP keepalive interval and name the env var
  versatiles/src/tools/help_source.md
Due: none

feat(VPL): from_container takes a per-source ssh_identity
  versatiles/src/tools/help_source.md
  versatiles_container/src/runtime/outer.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/operations/read/from_container.rs
  versatiles_pipeline/src/operations/read/from_merged_vector.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
Due: rust-fmt

refactor(mod.rs): reorganize imports for clarity and consistency
  versatiles/src/tools/dev_tools/shortbread/mod.rs
Due: rust-fmt

feat(ci): add libssl-dev to CI dependencies and include clippy component
  .github/workflows/ci.yml
Due: none

feat(decode_vpl): specify generic parameter for required array accessors
  versatiles_derive/src/decode_vpl.rs
Due: rust-fmt

feat(VPL): from_h3 generates H3 cells to join data against
  Cargo.lock
  versatiles_pipeline/Cargo.toml
  versatiles_pipeline/src/helpers/feature_tile_source.rs
  versatiles_pipeline/src/helpers/grid_zoom.rs
  versatiles_pipeline/src/helpers/mod.rs
  versatiles_pipeline/src/helpers/tilejson.rs
  versatiles_pipeline/src/operations/mod.rs
  versatiles_pipeline/src/operations/read/from_h3.rs
  versatiles_pipeline/src/operations/read/mod.rs
Due: rust-fmt

feat(decode_vpl): add type mappings for u32, f64, and Option<[f64;2]>
  versatiles_derive/src/decode_vpl.rs
Due: rust-fmt

feat(VPL): from_grid generates projected square cells to join data against
  versatiles_pipeline/src/operations/mod.rs
  versatiles_pipeline/src/operations/read/from_grid/densify.rs
  versatiles_pipeline/src/operations/read/from_grid/id_template.rs
  versatiles_pipeline/src/operations/read/from_grid/lattice.rs
  versatiles_pipeline/src/operations/read/from_grid/mod.rs
  versatiles_pipeline/src/operations/read/from_grid/projection.rs
  versatiles_pipeline/src/operations/read/mod.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  node-format: any of: versatiles_node/**/*.{ts,js,json,md}
  node-typecheck: any of: versatiles_node/src/**/*.ts
  node-lint: any of: versatiles_node/src/**/*.ts
