Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

rust-fmt:
  run: cargo fmt -- --check
  stage_fixed: true

node-format:
  run: cd versatiles_node && npm run format:check
  stage_fixed: true

node-typecheck:
  run: cd versatiles_node && npm run typecheck

node-lint:
  run: cd versatiles_node && npm run lint

refactor: rename parameters to metadata in ContainerReader and update related examples
  versatiles_node/examples/probe.mjs
  versatiles_node/src/container.rs
  versatiles_node/src/container.test.ts
  versatiles_node/src/convert.test.ts
Due: rust-fmt, node-format

feat: add binary size analysis script
  scripts/analyze-binary-size.sh
Due: none

refactor: specify version and features for fast_image_resize dependency
  Cargo.toml
  versatiles_image/Cargo.toml
Due: none

refactor: remove unused dependencies from Cargo.toml files
  Cargo.lock
  versatiles_container/Cargo.toml
  versatiles_node/Cargo.toml
  versatiles_pipeline/Cargo.toml
Due: none

refactor: update GDAL build features and dependencies
  Cargo.lock
  DEVELOPMENT.md
  README.md
  scripts/audit-unused-deps.sh
  scripts/build-debug.sh
  scripts/build-docs-readme.sh
  scripts/build-release.sh
  scripts/profile-macos.sh
Due: none

chore: update dependencies in Cargo.toml and Cargo.lock
  Cargo.lock
  Cargo.toml
  versatiles_derive/Cargo.toml
Due: none

fix: correct condition for progress state redraw timing
  versatiles_container/src/progress/handle.rs
Due: rust-fmt

refactor: rename stderr to silent in ProgressFactory and ProgressHandle
  versatiles_container/src/progress/factory.rs
  versatiles_container/src/progress/handle.rs
  versatiles_container/src/runtime/builder.rs
Due: rust-fmt

refactor: rename getter methods for consistency
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/container/versatiles/types/block_definition.rs
  versatiles_container/src/types/tile_source_metadata.rs
  versatiles_core/src/types/blob.rs
  versatiles_core/src/types/byte_range.rs
  versatiles_core/src/types/tile_coord.rs
  versatiles_core/src/types/tile_schema.rs
  versatiles_core/src/types/tile_type.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
Due: rust-fmt

docs: improve module documentation
  versatiles_core/src/json/mod.rs
  versatiles_core/src/lib.rs
  versatiles_core/src/macros/mod.rs
  versatiles_core/src/types/geo_center.rs
  versatiles_core/src/types/mod.rs
  versatiles_core/src/types/tile_coord.rs
  versatiles_core/src/types/tile_stream.rs
Due: rust-fmt

docs: update examples
  versatiles_core/src/json/mod.rs
  versatiles_core/src/lib.rs
  versatiles_core/src/types/mod.rs
  versatiles_core/src/types/tile_compression.rs
  versatiles_core/src/types/tile_coord.rs
  versatiles_core/src/types/tile_format.rs
  versatiles_core/src/types/tile_stream.rs
Due: rust-fmt

docs: add examples to TileBBoxMap and TileSize methods
  versatiles_core/src/types/tile_bbox_map.rs
  versatiles_core/src/types/tile_size.rs
Due: rust-fmt

refactor: improve error handling in TileStream processing methods
  versatiles_core/src/types/tile_stream.rs
Due: rust-fmt

docs: better documentation for TileStream
  versatiles_core/src/types/tile_stream.rs
Due: rust-fmt

refactor: cargo fmt
  versatiles_core/src/types/tile_stream.rs
Due: rust-fmt

refactor: mock tile reader and writer names
  versatiles/src/server/sources/static_source_tar.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles_container/src/container/directory/mod.rs
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/container/mock/writer.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
Due: rust-fmt

refactor: remove main.rs and consolidate traversal logic in mod.rs
  versatiles_container/src/traversal/main.rs
  versatiles_container/src/traversal/mod.rs
Due: rust-fmt

docs: update raster overscale operation parameters in README
  versatiles_pipeline/README.md
Due: none

test: add unit tests for TileServer functionality
  versatiles_node/src/server.rs
Due: rust-fmt

test: add unit tests for ContainerReader functionality
  versatiles_node/src/container.rs
Due: rust-fmt

test: add unit tests for TileProcessor functionality
  versatiles_container/src/types/processor.rs
Due: rust-fmt

fix: sync package.json version with Cargo.toml during release process
  scripts/release-package.sh
Due: none

chore: update version to 3.0.0 across all relevant files
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: remove 'dev' release option and clean up release script
  scripts/release-package.sh
Due: none

release: v3.0.1-rc.1
  Cargo.lock
  Cargo.toml
Due: none

release: v3.0.1-rc.1
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: prevent automatic push during release process and ensure version synchronization
  scripts/release-package.sh
Due: none

release: v3.0.1-rc.2
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: correct readme field in Cargo.toml to specify file path
  versatiles_pipeline/Cargo.toml
Due: none

fix: release process with version validation and updates for Cargo.toml and package.json
  scripts/release-package.sh
Due: none

release: v3.0.0-rc.2
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: update release process to run checks instead of tests
  scripts/release-package.sh
Due: none

fix: package version update validation for package.json and package-lock.json
  scripts/release-package.sh
Due: none

fix: comment out debug output for GDAL environment configuration
  scripts/env-gdal.sh
Due: none

release: v3.0.0-rc.2
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: refactor version calculation to use cargo-release instead of npm
  scripts/release-package.sh
Due: none

release: v3.0.0-rc.3
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: test by adding port argument to serve command
  versatiles/src/tools/serve.rs
Due: rust-fmt

fix: update NAPI binding build process to only compile for GNU libc
  .github/workflows/release.yml
  docker/build-linux.Dockerfile
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  node-format: any of: versatiles_node/**/*.{ts,js,json,md}
  node-typecheck: any of: versatiles_node/src/**/*.ts
  node-lint: any of: versatiles_node/src/**/*.ts
