Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

rust-fmt:
  run: cargo fmt -- --check
  stage_fixed: true

node-format:
  run: cd versatiles_node && npm run format:check
  stage_fixed: true

node-typecheck:
  run: cd versatiles_node && npm run typecheck

node-lint:
  run: cd versatiles_node && npm run lint

refactor: move PipelineReader module and update imports
  versatiles_pipeline/src/container_reader/mod.rs
  versatiles_pipeline/src/helpers/container_registry.rs
  versatiles_pipeline/src/helpers/mod.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/lib.rs
Due: rust-fmt

feat: add num_cpus dependency and optimize Operation struct for concurrency
  Cargo.lock
  versatiles_pipeline/Cargo.toml
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
Due: rust-fmt

refactor: update Cargo.toml files to use workspace dependencies
  Cargo.toml
  versatiles/Cargo.toml
  versatiles_container/Cargo.toml
  versatiles_core/Cargo.toml
  versatiles_geometry/Cargo.toml
  versatiles_image/Cargo.toml
  versatiles_pipeline/Cargo.toml
Due: none

fix: update JSON formatting in serialization methods
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/types/converter.rs
  versatiles_core/src/types/tile_coord.rs
  versatiles_core/src/types/tile_stream.rs
Due: rust-fmt

feat: add rstest dependency and enhance tests for various modules
  Cargo.lock
  versatiles_node/Cargo.toml
  versatiles_node/src/macros.rs
  versatiles_node/src/runtime.rs
  versatiles_node/src/types/convert_options.rs
  versatiles_node/src/types/reader_parameters.rs
  versatiles_node/src/types/tile_coord.rs
Due: rust-fmt

refactor: optimize async tile stream handling in OperationTrait implementation
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
Due: rust-fmt

feat: add into_stream method to TileBBoxMap and optimize tile processing in from_stacked_raster
  versatiles_core/src/types/tile_bbox_map.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
Due: rust-fmt

refactor: replace stream creation with TileStream
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
Due: rust-fmt

refactor: streamline tile extraction logic and improve error handling in raster overscale operation
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
Due: rust-fmt

refactor: rename as_level method to at_level for clarity in TileCoord and update references
  versatiles_core/src/types/tile_bbox_map.rs
  versatiles_core/src/types/tile_coord.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
Due: rust-fmt

refactor: remove unnecessary mutable bindings in probe functions across various readers
  versatiles/src/tools/probe.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/types/tiles_reader.rs
Due: rust-fmt

refactor: rename as_tile_bbox method to to_tile_bbox
  versatiles_core/src/types/tile_coord.rs
  versatiles_geometry/src/tile_outline/mod.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/raster/raster_flatten.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/read/from_debug/mod.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
Due: rust-fmt

refactor: update readme field in Cargo.toml files and add README.md for each crate
  versatiles/Cargo.toml
  versatiles/README.md
  versatiles_container/Cargo.toml
  versatiles_container/README.md
  versatiles_core/Cargo.toml
  versatiles_core/README.md
  versatiles_derive/Cargo.toml
  versatiles_derive/README.md
  versatiles_geometry/Cargo.toml
  versatiles_geometry/README.md
  versatiles_image/Cargo.toml
  versatiles_image/README.md
Due: none

Refactor tile source interface and introduce processor support
  versatiles/src/server/sources/static_source_tar.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/container/mock/writer.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/container/versatiles/writer.rs
  versatiles_container/src/lib.rs
  versatiles_container/src/runtime/outer.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/mod.rs
  versatiles_container/src/types/processor.rs
  versatiles_container/src/types/tile_source.rs
  versatiles_container/src/types/writer.rs
  versatiles_node/src/container.rs
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/helpers/container_registry.rs
  versatiles_pipeline/src/helpers/dummy_image_source.rs
  versatiles_pipeline/src/helpers/dummy_vector_source.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/operations/read/from_container.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/read/from_merged_vector.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
Due: rust-fmt

refactor: unify tile source interface by replacing container_name and source_name with source_type method
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/container/mock/writer.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/tile_source.rs
  versatiles_node/src/container.rs
  versatiles_pipeline/src/helpers/dummy_image_source.rs
  versatiles_pipeline/src/helpers/dummy_vector_source.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
Due: rust-fmt

Refactor read operations to implement TileSourceTrait
  versatiles/src/tools/convert.rs
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/tile_source.rs
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/helpers/dummy_image_source.rs
  versatiles_pipeline/src/helpers/dummy_vector_source.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/lib.rs
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/general/meta_update.rs
  versatiles_pipeline/src/operations/raster/raster_flatten.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
  versatiles_pipeline/src/operations/read/from_container.rs
  versatiles_pipeline/src/operations/read/from_debug/mod.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/read/from_merged_vector.rs
  versatiles_pipeline/src/operations/read/from_stacked.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
  versatiles_pipeline/src/operations/read/traits.rs
  versatiles_pipeline/src/operations/vector/traits.rs
  versatiles_pipeline/src/operations/vector/vector_filter_layers.rs
  versatiles_pipeline/src/operations/vector/vector_filter_properties.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
  versatiles_pipeline/src/traits/factory.rs
  versatiles_pipeline/src/traits/mod.rs
  versatiles_pipeline/src/traits/operation.rs
Due: rust-fmt

refactor: remove override_compression method from tile source implementations
  versatiles/src/tools/convert.rs
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/tile_source.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
Due: rust-fmt

refactor: update Node.js test commands in check script
  scripts/check.sh
Due: none

refactor: update probe example to use sourceType method instead of containerName and sourceName
  versatiles_node/examples/probe.mjs
Due: none

refactor: enhance SourceType enum and implement JavaScript bindings for source type retrieval
  versatiles_container/src/types/tile_source.rs
  versatiles_node/src/container.rs
  versatiles_node/src/container.test.ts
Due: rust-fmt, node-format

refactor: implement shared logging utilities for examples and update example scripts to use the new logger
  versatiles_node/examples/convert-with-progress.mjs
  versatiles_node/examples/convert.mjs
  versatiles_node/examples/lib/logger.mjs
  versatiles_node/examples/probe.mjs
  versatiles_node/examples/read-tiles.mjs
  versatiles_node/examples/serve.mjs
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

refactor: improve upgrade script output messages and ensure NPM dependencies are upgraded
  scripts/upgrade-deps.sh
Due: none

chore: update dependencies in Cargo.lock and package.json to latest versions
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
  versatiles_pipeline/Cargo.toml
Due: none

refactor: remove tile_size parameter and implement enable_climbing in raster overscale operation
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
Due: rust-fmt

refactor: enhance raster overscale operation with caching and climbing functionality
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
Due: rust-fmt

refactor: streamline tile fetching logic with dedicated try_fetch_tile method
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
Due: rust-fmt

refactor: update dependencies and optimize caching mechanisms with moka and dashmap
  Cargo.lock
  Cargo.toml
  versatiles_container/Cargo.toml
  versatiles_container/src/progress/handle.rs
  versatiles_pipeline/Cargo.toml
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
Due: rust-fmt

refactor: integrate deadpool for managing GDAL dataset instances
  Cargo.lock
  versatiles_pipeline/Cargo.toml
  versatiles_pipeline/src/operations/read/from_gdal/raster/raster_source.rs
Due: rust-fmt

refactor: replace RwLock with DashMap and ArcSwap for improved concurrency in tile and static source management
  Cargo.lock
  versatiles/Cargo.toml
  versatiles/src/server/handlers.rs
  versatiles/src/server/routes.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles_container/Cargo.toml
  versatiles_container/src/runtime/events.rs
Due: rust-fmt

refactor: introduce ConcurrencyLimits for optimized I/O and CPU performance in tile processing
  versatiles_container/src/types/tile_source.rs
  versatiles_core/src/concurrency.rs
  versatiles_core/src/lib.rs
  versatiles_core/src/types/tile_stream.rs
Due: rust-fmt

refactor: add multithreading benchmarks and new dependencies for concurrency optimizations
  Cargo.lock
  versatiles_core/Cargo.toml
  versatiles_core/benches/multithreading_optimizations.rs
Due: rust-fmt

refactor: implement cache performance benchmarks
  Cargo.lock
  versatiles_core/Cargo.toml
  versatiles_core/benches/cache_performance.rs
Due: rust-fmt

refactor: move TilesReaderParameters to versatiles_container
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/pmtiles/types/header_v3.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/mod.rs
  versatiles_container/src/types/processor.rs
  versatiles_container/src/types/tile_source.rs
  versatiles_container/src/types/tiles_reader_parameters.rs
  versatiles_core/src/types/mod.rs
  versatiles_core/src/types/tilejson/lib.rs
  versatiles_node/src/types/reader_parameters.rs
  versatiles_pipeline/src/helpers/dummy_image_source.rs
  versatiles_pipeline/src/helpers/dummy_vector_source.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/general/meta_update.rs
  versatiles_pipeline/src/operations/raster/raster_flatten.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
  versatiles_pipeline/src/operations/read/from_container.rs
  versatiles_pipeline/src/operations/read/from_debug/mod.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/read/from_merged_vector.rs
  versatiles_pipeline/src/operations/read/from_stacked.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
  versatiles_pipeline/src/operations/vector/traits.rs
Due: rust-fmt

refactor: renam TilesReaderParameters to TileSourceMetadata across the codebase.
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/pmtiles/types/header_v3.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/mod.rs
  versatiles_container/src/types/processor.rs
  versatiles_container/src/types/tile_source.rs
  versatiles_container/src/types/tile_source_metadata.rs
  versatiles_node/src/types/reader_parameters.rs
  versatiles_pipeline/src/helpers/dummy_image_source.rs
  versatiles_pipeline/src/helpers/dummy_vector_source.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/general/meta_update.rs
  versatiles_pipeline/src/operations/raster/raster_flatten.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
  versatiles_pipeline/src/operations/read/from_container.rs
  versatiles_pipeline/src/operations/read/from_debug/mod.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/read/from_merged_vector.rs
  versatiles_pipeline/src/operations/read/from_stacked.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
  versatiles_pipeline/src/operations/vector/traits.rs
Due: rust-fmt

refactor: rename ReaderParameters to SourceMetadata and update related references
  versatiles_node/src/container.rs
  versatiles_node/src/lib.rs
  versatiles_node/src/types/mod.rs
  versatiles_node/src/types/probe_result.rs
  versatiles_node/src/types/source_metadata.rs
Due: rust-fmt

refactor: move traversal utilities to versatiles_container
  Cargo.lock
  versatiles_container/Cargo.toml
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/writer.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/writer.rs
  versatiles_container/src/lib.rs
  versatiles_container/src/traversal/main.rs
  versatiles_container/src/traversal/mod.rs
  versatiles_container/src/traversal/order.rs
  versatiles_container/src/traversal/processing.rs
  versatiles_container/src/traversal/size.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/processor.rs
  versatiles_container/src/types/tile_source.rs
  versatiles_core/src/lib.rs
  versatiles_pipeline/src/helpers/dummy_vector_source.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/general/meta_update.rs
  versatiles_pipeline/src/operations/raster/raster_flatten.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
  versatiles_pipeline/src/operations/read/from_container.rs
  versatiles_pipeline/src/operations/read/from_merged_vector.rs
  versatiles_pipeline/src/operations/read/from_stacked.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
  versatiles_pipeline/src/operations/vector/traits.rs
Due: rust-fmt

fix: update deadpool dependency to be optional and include in gdal features
  versatiles_pipeline/Cargo.toml
Due: none

refactor: tile source traits and types
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/writer.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/writer.rs
  versatiles_container/src/types/mod.rs
  versatiles_container/src/types/tile_source_trait.rs
  versatiles_container/src/types/tile_source_type.rs
Due: rust-fmt

refactor: update cache implementations to use DashMap for better concurrency
  Cargo.lock
  versatiles_container/Cargo.toml
  versatiles_container/src/cache/cache_in_memory.rs
  versatiles_container/src/cache/cache_on_disk.rs
  versatiles_container/src/cache/map.rs
  versatiles_container/src/cache/traits/cache.rs
  versatiles_container/src/types/tile_source_trait.rs
  versatiles_pipeline/Cargo.toml
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  node-format: any of: versatiles_node/**/*.{ts,js,json,md}
  node-typecheck: any of: versatiles_node/src/**/*.ts
  node-lint: any of: versatiles_node/src/**/*.ts
