Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

lefthook.yml:

# Lefthook configuration for versatiles-rs
# Optional but recommended for contributors
#
# Installation:
#   macOS:   brew install lefthook
#   Linux:   See https://github.com/evilmartians/lefthook
#   Windows: scoop install lefthook
#
# Setup: lefthook install

pre-commit:
  parallel: true

  commands:
    # Rust formatting check (fast)
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt -- --check
      stage_fixed: true

    # Node.js formatting check (fast)
    node-format:
      glob: 'versatiles_node/**/*.{ts,js,json,md}'
      run: cd versatiles_node && npm run format:check
      stage_fixed: true

    # TypeScript type check (medium speed)
    node-typecheck:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run typecheck

    # ESLint (fast)
    node-lint:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run lint

pre-push:
  parallel: false

  commands:
    # Full Node.js checks before push
    node-check:
      run: cd versatiles_node && npm run check

    # Full Rust checks before push
    rust-check:
      run: |
        source scripts/env-gdal.sh
        cargo clippy --workspace --all-targets -- -D warnings

    # All tests before push
    test:
      run: |
        source scripts/env-gdal.sh
        cargo test --workspace --all-targets

feat(server): send a weak ETag and answer If-None-Match with 304
  Cargo.lock
  README.md
  versatiles/Cargo.toml
  versatiles/src/server/handlers.rs
  versatiles/tests/serve.rs
  versatiles/tests/serve/conditional.rs
Due: rust-fmt

chore: update dependencies for improved compatibility and performance
  Cargo.lock
  Cargo.toml
  versatiles_container/Cargo.toml
  versatiles_node/Cargo.toml
Due: none

chore: update devDependencies to latest versions
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

chore: update brace-expansion and markdown-it to latest versions
  versatiles_node/package-lock.json
Due: none

fix(core): iterate quadtree children in a way Rust 1.94 accepts
  versatiles_core/src/types/tile_quadtree/serialize.rs
Due: rust-fmt

chore: raise the minimum Rust version to 1.95
  Cargo.toml
  README.md
  versatiles_pipeline/src/helpers/overview.rs
Due: rust-fmt

build(core): use aws-lc-rs for SFTP so one crypto library serves HTTPS and SFTP
  Cargo.lock
  versatiles_core/Cargo.toml
Due: none

docs(help): steer SFTP auth to keys and warn about passwords in HTTP URLs
  versatiles/src/tools/help_source.md
Due: none

fix(cli): keep URL passwords out of logs and errors
  versatiles/src/tools/convert.rs
  versatiles/src/tools/probe.rs
  versatiles/src/tools/reduce.rs
  versatiles/tests/cli.rs
  versatiles/tests/cli/credentials.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_core/src/io/mod.rs
Due: rust-fmt

fix(serve): accept the boolean switches without a value and correct the remote-format help
  versatiles/src/tools/serve.rs
Due: rust-fmt

docs(readme): match routes, options and install instructions to the code
  README.md
Due: none

docs(help): correct the retry policy, SFTP formats and the grid pipeline example
  versatiles/src/tools/help_source.md
  versatiles_pipeline/README.md
  versatiles_pipeline/src/help.md
Due: none

docs(crates): fix the README examples and compile them as doctests
  versatiles/README.md
  versatiles/src/lib.rs
  versatiles_container/README.md
  versatiles_container/src/lib.rs
  versatiles_core/README.md
  versatiles_core/src/lib.rs
  versatiles_geometry/README.md
  versatiles_geometry/src/lib.rs
  versatiles_image/README.md
  versatiles_image/src/lib.rs
Due: rust-fmt

docs(node): match the README, typings docs and contributor docs to the API
  versatiles_node/CONTRIBUTING.md
  versatiles_node/PACKAGE.md
  versatiles_node/README.md
  versatiles_node/examples/README.md
  versatiles_node/src/README.md
  versatiles_node/src/convert.rs
  versatiles_node/src/progress.rs
  versatiles_node/src/tile_source.rs
Due: rust-fmt, node-format

feat(node)!: require Node.js 22
  README.md
  RELEASING.md
  versatiles_node/CONTRIBUTING.md
  versatiles_node/README.md
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

docs(dev): bring the release, development and tooling docs in line with the scripts
  CONTRIBUTING.md
  DEVELOPMENT.md
  RELEASING.md
  docker/notes.md
  fuzz/README.md
  scripts/README.md
Due: none

fix(container): keep clippy clean for every feature combination
  versatiles_container/src/container/directory/sink.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/container/versatiles/sink.rs
Due: rust-fmt

fix(release): keep prerelease tags from splitting the notes, and add the 5.0 upgrade notes
  .github/release-notes/v5.0.0.md
  RELEASING.md
  cliff.toml
  scripts/workflow-create-release.sh
Due: none

ci: lint each crate with each feature alone
  .github/workflows/ci.yml
  DEVELOPMENT.md
  scripts/check-rust.sh
Due: none

feat(node)!: remove the unusable Progress class
  .github/release-notes/v5.0.0.md
  versatiles_node/examples/convert-with-progress.ts
  versatiles_node/src/lib.rs
  versatiles_node/src/progress.rs
Due: rust-fmt, node-format

release: v5.0.0-rc.2
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

ci: add a smoke test that runs every published release file on its own platform
  .github/workflows/release-smoke-test.yml
  RELEASING.md
  scripts/README.md
  scripts/smoke-test-npm.mjs
  scripts/smoke-test-release.sh
Due: none

fix(ci): give the smoke test's CLI jobs a token for the provenance check
  .github/workflows/release-smoke-test.yml
  scripts/smoke-test-release.sh
Due: none

feat(install): let the install scripts take a version to install
  README.md
  scripts/README.md
  scripts/install-unix.sh
  scripts/install-windows.ps1
Due: none

release: v5.0.0
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix(serve): keep changed tile sources available during a config reload, close #283
  README.md
  versatiles/src/server/reload.rs
Due: rust-fmt

fix(serve): answer invalid tile coordinates with 404 instead of 500, close #280
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
Due: rust-fmt

feat(serve): shut down gracefully on SIGTERM and SIGINT, close #282
  README.md
  versatiles/src/main.rs
  versatiles/src/server/tile_server.rs
  versatiles/src/tools/serve.rs
  versatiles/tests/serve.rs
  versatiles/tests/serve/shutdown.rs
Due: rust-fmt

fix(serve): answer vector tiles without data with 204 instead of 404, close #281
  README.md
  versatiles/src/server/handlers.rs
  versatiles/src/server/sources/mod.rs
  versatiles/src/server/sources/response.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles/tests/serve.rs
  versatiles/tests/serve/empty_tiles.rs
  versatiles_node/src/server.test.ts
Due: rust-fmt, node-format

chore: update rust dependencies across multiple packages
  Cargo.lock
  versatiles_container/Cargo.toml
  versatiles_core/Cargo.toml
  versatiles_derive/Cargo.toml
  versatiles_node/Cargo.toml
Due: none

chore: update npm devDependencies to latest versions
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix(cli): compile without the server feature again
  versatiles/src/main.rs
Due: rust-fmt

feat(pipeline): raster_format encodes only tiles that need it, add force_reencode (#285)
  versatiles_container/src/types/tile/conversion.rs
  versatiles_container/src/types/tile/tests.rs
  versatiles_pipeline/README.md
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/tests/metadata_surface.snap
Due: rust-fmt
