Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

rust-fmt:
  run: cargo fmt -- --check
  stage_fixed: true

node-format:
  run: cd versatiles_node && npm run format:check
  stage_fixed: true

node-typecheck:
  run: cd versatiles_node && npm run typecheck

node-lint:
  run: cd versatiles_node && npm run lint

test: add unit tests for ProgressData, ConvertOptions, ServerOptions, TileCoord, SourceMetadata, and ProbeResult
  versatiles_node/src/lib.rs
Due: rust-fmt

test: add Windows Node.js build and test job to CI workflow
  .github/workflows/ci.yml
Due: none

refactor: standardize job names and steps in CI workflow for Linux and Windows
  .github/workflows/ci.yml
Due: none

fix: update clap dependency to enable default features in Cargo.toml
  Cargo.toml
  versatiles_core/Cargo.toml
Due: none

refactor: simplify audit-unused-deps script by removing unused options and help message
  scripts/audit-unused-deps.sh
Due: none

chore: update dependencies for various packages to latest versions
  Cargo.lock
  Cargo.toml
  versatiles_derive/Cargo.toml
  versatiles_image/Cargo.toml
  versatiles_node/Cargo.toml
Due: none

chore: update dependencies for @vitest/ui, typedoc, and vitest to latest versions
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

refactor: use unique temporary output paths in convert tests
  versatiles_node/src/convert.test.ts
Due: node-format

refactor: remove unnecessary dependencies from Node.js jobs in CI workflow
  .github/workflows/ci.yml
Due: none

chore: update @types/node to version 25.0.6 in package.json and package-lock.json
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

refactor: update test:examples script and include scripts in tsconfig
  versatiles_node/package.json
  versatiles_node/scripts/run-examples.ts
  versatiles_node/tsconfig.json
Due: node-format

fix: replace URL pathname extraction with fileURLToPath in example scripts
  versatiles_node/examples/convert-with-progress.ts
  versatiles_node/examples/convert.ts
  versatiles_node/examples/probe.ts
  versatiles_node/examples/read-tiles.ts
  versatiles_node/examples/serve.ts
Due: node-format

refactor: change build command to npm run build:debug in CI workflow
  .github/workflows/ci.yml
Due: none

refactor: move cargo fmt check to the beginning of the script
  scripts/check.sh
Due: none

test: add end-to-end tests for tile data integrity after format conversions
  versatiles/tests/convert_integrity.rs
Due: rust-fmt

test: add end-to-end tests for CORS header handling in the HTTP server
  versatiles/tests/serve_cors.rs
Due: rust-fmt

test: add end-to-end tests for compression negotiation in the HTTP server
  versatiles/tests/serve_compression.rs
Due: rust-fmt

test: add end-to-end tests for serving static content from TAR archives
  versatiles/tests/serve_static.rs
Due: rust-fmt

test: add end-to-end tests for server configuration file integration
  versatiles/tests/serve_config.rs
Due: rust-fmt

docs: update installation instructions in README files to use `cargo add`
  versatiles/README.md
  versatiles_container/README.md
  versatiles_core/README.md
  versatiles_derive/README.md
  versatiles_geometry/README.md
  versatiles_image/README.md
Due: none

refactor: remove unnecessary `disable_help_flag` from command attributes in CLI tools
  versatiles/src/tools/dev.rs
  versatiles/src/tools/dev_tools/export_outline.rs
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles/src/tools/dev_tools/print_tilejson.rs
  versatiles/src/tools/help.rs
Due: rust-fmt

docs: enhance help documentation for tile sources and VPL pipelines
  versatiles/src/config/help.md
  versatiles/src/config/tile_source.rs
Due: rust-fmt

feat: add markdown linting to CI workflow and scripts
  .github/workflows/ci.yml
  .markdownlint.json
  .markdownlintignore
  scripts/check.sh
Due: none

feat: split check script into three scripts: markdown, node.js, and rust checks
  scripts/check-markdown.sh
  scripts/check-node.sh
  scripts/check-rust.sh
  scripts/check.sh
Due: none

docs: fix "Bare URL used"
  .markdownlint.json
  CODE_OF_CONDUCT.md
  DEVELOPMENT.md
  versatiles/CONFIG.md
  versatiles_pipeline/README.md
  versatiles_pipeline/src/operations/general/meta_update.rs
Due: rust-fmt

docs: fix "Trailing punctuation in heading"
  .markdownlint.json
  versatiles_derive/src/decode_vpl.rs
  versatiles_pipeline/README.md
Due: rust-fmt

docs: fix "Fenced code blocks should be surrounded by blank lines"
  .markdownlint.json
  DEVELOPMENT.md
  README.md
  RELEASING.md
  versatiles/CONFIG.md
  versatiles/src/config/help.md
  versatiles/src/tools/help_source.md
  versatiles_pipeline/README.md
  versatiles_pipeline/src/help.md
Due: none

docs: fix "Lists should be surrounded by blank lines"
  .markdownlint.json
  DEVELOPMENT.md
  README.md
  RELEASING.md
  versatiles/CONFIG.md
  versatiles/README.md
  versatiles/src/config/help.md
  versatiles/src/tools/help_source.md
  versatiles_derive/src/decode_vpl.rs
  versatiles_pipeline/README.md
Due: rust-fmt

docs: fix "Fenced code blocks should have a language specified"
  .markdownlint.json
  README.md
  RELEASING.md
  versatiles/src/tools/help_source.md
  versatiles_node/CONTRIBUTING.md
  versatiles_node/PACKAGE.md
  versatiles_node/src/README.md
Due: node-format

fix: use to_yaml_path function for tile source paths in tests
  versatiles/tests/serve_config.rs
Due: rust-fmt

fix: improve server process exit handling in tests with detailed output
  versatiles/tests/serve.rs
  versatiles/tests/serve_compression.rs
  versatiles/tests/serve_config.rs
  versatiles/tests/serve_cors.rs
  versatiles/tests/serve_static.rs
Due: rust-fmt

fix: use to_yaml_path for static path in serve_static_with_prefix test
  versatiles/tests/serve_static.rs
Due: rust-fmt

feat: refactor compression module to consolidate Brotli and Gzip methods
  versatiles_core/src/utils/compression/functions.rs
  versatiles_core/src/utils/compression/methods/brotli.rs
  versatiles_core/src/utils/compression/methods/gzip.rs
  versatiles_core/src/utils/compression/methods/mod.rs
  versatiles_core/src/utils/compression/mod.rs
Due: rust-fmt

feat: rename tests module to test_utils
  versatiles_core/src/utils/compression/functions.rs
  versatiles_core/src/utils/compression/methods/brotli.rs
  versatiles_core/src/utils/compression/methods/gzip.rs
  versatiles_core/src/utils/compression/mod.rs
  versatiles_core/src/utils/compression/test_utils.rs
Due: rust-fmt

feat: improve documentation for Brotli and Gzip compression functions to clarify usage and optimization
  versatiles_core/src/utils/compression/methods/brotli.rs
  versatiles_core/src/utils/compression/methods/gzip.rs
Due: rust-fmt

fix: add Eq trait to CompressionGoal and TargetCompression
  versatiles_core/src/utils/compression/compression_goal.rs
  versatiles_core/src/utils/compression/target_compression.rs
Due: rust-fmt

fix: implement Default trait for CompressionGoal
  versatiles_core/src/utils/compression/compression_goal.rs
Due: rust-fmt

feat: move from method to From trait implementation for TargetCompression
  versatiles_core/src/utils/compression/target_compression.rs
Due: rust-fmt

feat: implement Default trait for TargetCompression with all algorithms allowed
  versatiles_core/src/utils/compression/target_compression.rs
Due: rust-fmt

feat: add Zstd compression support with methods for compressing and decompressing data
  Cargo.lock
  Cargo.toml
  versatiles/src/server/handlers.rs
  versatiles/src/server/sources/static_source_tar.rs
  versatiles_container/src/container/pmtiles/types/tile_compression.rs
  versatiles_container/src/container/versatiles/types/file_header.rs
  versatiles_core/Cargo.toml
  versatiles_core/src/types/tile_compression.rs
  versatiles_core/src/utils/compression/functions.rs
  versatiles_core/src/utils/compression/methods/mod.rs
  versatiles_core/src/utils/compression/methods/zstd.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  node-format: any of: versatiles_node/**/*.{ts,js,json,md}
  node-typecheck: any of: versatiles_node/src/**/*.ts
  node-lint: any of: versatiles_node/src/**/*.ts
