Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

rust-fmt:
  run: cargo fmt -- --check
  stage_fixed: true

node-format:
  run: cd versatiles_node && npm run format:check
  stage_fixed: true

node-typecheck:
  run: cd versatiles_node && npm run typecheck

node-lint:
  run: cd versatiles_node && npm run lint

ci: optimize Linux musl test job by removing cache and adjusting optimization levels
  .github/workflows/ci.yml
Due: none

test(raster_mask): add a large-geometry benchmark
  scripts/README.md
  scripts/bench-raster-mask.sh
  testdata/germany.geojson.br
Due: none

test(raster_mask): add reference tests for alpha grid computation
  versatiles_pipeline/src/operations/raster/raster_mask/mod.rs
Due: rust-fmt

test(raster_mask): add reference tests for alpha grid computation using brute force method
  versatiles_pipeline/src/operations/raster/raster_mask/mask_geometry.rs
Due: rust-fmt

refactor(mask_geometry): improve edge crossing and alpha computation logic, close #251
  versatiles_pipeline/src/operations/raster/raster_mask/mask_geometry.rs
Due: rust-fmt

docs(serve): --config is YAML, not TOML, close #243
  versatiles/src/tools/serve.rs
Due: rust-fmt

fix(convert): error instead of panic on --tile-format vs vector input, close #244
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/tile/conversion.rs
  versatiles_container/src/types/tile/tests.rs
Due: rust-fmt

fix(convert): write to a directory that does not exist yet, close #245
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/tile_sink.rs
Due: rust-fmt

fix(core): MVT MIME type is application/vnd.mapbox-vector-tile, close #246
  versatiles/src/server/sources/static_source_tar.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles_core/src/types/tile_format.rs
  versatiles_pipeline/src/helpers/dummy_vector_source.rs
  versatiles_pipeline/src/operations/read/from_container.rs
  versatiles_pipeline/src/operations/read/from_debug/mod.rs
  versatiles_pipeline/src/operations/read/from_merged_vector.rs
  versatiles_pipeline/src/operations/read/from_stacked.rs
Due: rust-fmt

fix(from_geo): count points as zero-size in the max_zoom median, close #242
  versatiles_geometry/src/feature_import/heuristics.rs
  versatiles_pipeline/src/operations/read/from_geo.rs
Due: rust-fmt

fix(shortbread): match the final 1.1 release, add a spec drift check, close #241
  versatiles/src/tools/dev_tools/shortbread/check_schema.py
  versatiles/src/tools/dev_tools/shortbread/mod.rs
  versatiles/src/tools/dev_tools/shortbread/schema.rs
  versatiles/src/tools/dev_tools/shortbread/shortbread_1_0.yaml
  versatiles/src/tools/dev_tools/shortbread/shortbread_1_1.yaml
Due: rust-fmt

fix(pipeline): declare tile_size on raster sources, close #247
  versatiles_pipeline/src/helpers/overview.rs
  versatiles_pipeline/src/operations/raster/raster_tile_resize.rs
  versatiles_pipeline/src/operations/read/from_color.rs
  versatiles_pipeline/src/operations/read/from_debug/image.rs
  versatiles_pipeline/src/operations/read/from_debug/mod.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
Due: rust-fmt

feat(probe,convert): measure tile_size when a source declares none, ref #247
  versatiles/src/tools/probe.rs
  versatiles_container/src/probe/report.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/tile_source_trait.rs
Due: rust-fmt

fix(ci): update cache policy to allow only 'main' branch writes
  .github/actions/setup-gdal/action.yml
  .github/workflows/ci.yml
Due: none

feat(docs): add functions to handle Markdown doc comment formatting
  versatiles_derive/src/decode_vpl.rs
  versatiles_pipeline/DOCSTYLE.md
  versatiles_pipeline/README.md
Due: rust-fmt

feat(core): let a host application add itself to the User-Agent
  versatiles_core/src/io/data_reader_http.rs
  versatiles_core/src/io/mod.rs
  versatiles_pipeline/src/operations/read/from_tilejson.rs
Due: rust-fmt

feat(vpl): format a pipeline without discarding its comments
  versatiles_node/src/codegen.rs
  versatiles_node/src/vpl.rs
  versatiles_node/src/vpl.test.ts
  versatiles_pipeline/src/vpl/cst.rs
  versatiles_pipeline/src/vpl/cst_format.rs
  versatiles_pipeline/src/vpl/mod.rs
  versatiles_pipeline/src/vpl/serializer.rs
Due: rust-fmt, node-format

fix(ci): conditionally run job steps for the main branch only
  .github/workflows/ci.yml
Due: none

feat(vpl): check an enum value with the type's parser, not its variant list
  versatiles_derive/src/decode_vpl.rs
  versatiles_node/src/codegen.rs
  versatiles_node/src/vpl.rs
  versatiles_pipeline/src/check.rs
  versatiles_pipeline/src/vpl/field_meta.rs
Due: rust-fmt

feat(vpl): carry a parameter's default in its metadata
  versatiles_derive/src/decode_vpl.rs
  versatiles_derive/src/lib.rs
  versatiles_node/src/codegen.rs
  versatiles_pipeline/DOCSTYLE.md
  versatiles_pipeline/src/operations/dem/dem_quantize.rs
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/general/remap_coords.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_mask/mod.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/read/from_color.rs
  versatiles_pipeline/src/operations/read/from_csv.rs
  versatiles_pipeline/src/operations/read/from_debug/mod.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/operation.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/read/from_geo.rs
  versatiles_pipeline/src/operations/read/from_grid/mod.rs
  versatiles_pipeline/src/operations/read/from_h3.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
  versatiles_pipeline/src/operations/read/from_tilejson.rs
  versatiles_pipeline/src/operations/vector/vector_filter_layers.rs
  versatiles_pipeline/src/operations/vector/vector_filter_properties.rs
  versatiles_pipeline/src/operations/vector/vector_overzoom.rs
  versatiles_pipeline/src/operations/vector/vector_repair.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
  versatiles_pipeline/src/vpl/field_meta.rs
  versatiles_pipeline/tests/docs_style.rs
Due: rust-fmt

style: correct formatting of emphasis in DOCSTYLE.md
  versatiles_pipeline/DOCSTYLE.md
Due: none

release: v4.9.1
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

chore: update minimum Rust version to 1.94 and add rust-version field to workspace packages
  Cargo.toml
  README.md
  versatiles/Cargo.toml
  versatiles_container/Cargo.toml
  versatiles_core/Cargo.toml
  versatiles_derive/Cargo.toml
  versatiles_geometry/Cargo.toml
  versatiles_image/Cargo.toml
  versatiles_node/Cargo.toml
  versatiles_pipeline/Cargo.toml
Due: none

feat(ci): add cargo-deny checks for dependencies and MSRV validation
  .github/workflows/ci.yml
  DEVELOPMENT.md
  deny.toml
  scripts/check-rust.sh
Due: none

fix(security): reject path traversal and out-of-range reads
  versatiles/src/server/sources/static_source_folder.rs
  versatiles/src/server/utils/url.rs
  versatiles_core/src/io/data_reader_blob.rs
  versatiles_core/src/io/data_reader_file.rs
Due: rust-fmt

fix(security): verify SFTP host keys with an accept-new policy
  README.md
  versatiles/src/tools/help_source.md
  versatiles_core/src/io/sftp_utils.rs
Due: rust-fmt

fix(security): bound how much data a decompression may produce
  README.md
  versatiles_core/src/compression/limit.rs
  versatiles_core/src/compression/methods/brotli.rs
  versatiles_core/src/compression/methods/gzip.rs
  versatiles_core/src/compression/methods/zstd.rs
  versatiles_core/src/compression/mod.rs
  versatiles_core/src/io/mod.rs
Due: rust-fmt

fix(webp): size the decoded pixel copy from the decoder, not the header
  versatiles_image/src/format/webp.rs
Due: rust-fmt

refactor(unsafe): replace manual Send/Sync impls with checked bounds
  versatiles_container/src/container/directory/sink.rs
  versatiles_core/src/io/sftp_wrappers.rs
  versatiles_core/src/types/blob.rs
  versatiles_core/src/types/tile_bbox/iter_zorder.rs
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/dem_source.rs
  versatiles_pipeline/src/operations/read/from_gdal/gdal_pool.rs
  versatiles_pipeline/src/operations/read/from_gdal/instance.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/raster_source.rs
Due: rust-fmt

fix(sftp): bound socket reads and stop auth tests depending on ~/.ssh
  versatiles_core/src/io/sftp_utils.rs
Due: rust-fmt

fix(build): make serial_test available on all platforms
  versatiles_core/Cargo.toml
Due: none

feat(image): add decode_limited function to enforce dimension limits on image decoding
  versatiles_image/src/format/all.rs
  versatiles_image/src/format/jpeg.rs
  versatiles_image/src/format/png.rs
Due: rust-fmt

feat(network): add SmallerRangeWontHelp error type and enhance range splitting logic
  versatiles_core/src/io/data_reader_http.rs
  versatiles_core/src/io/network_reader.rs
Due: rust-fmt

feat(cors): match origins structurally and warn on open-ended patterns
  README.md
  versatiles/CONFIG.md
  versatiles/src/config/cors.rs
  versatiles/src/server/cors.rs
  versatiles/src/server/sources/static_source_remote_folder.rs
Due: rust-fmt

fix(container): stop parsers panicking or wrapping on crafted files
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/pmtiles/types/entries_v3.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/versatiles/types/block_definition.rs
Due: rust-fmt

fix(io): check arithmetic on byte ranges read from containers
  versatiles_container/src/container/tile_chunking.rs
  versatiles_core/src/io/data_reader_http.rs
  versatiles_core/src/io/network_reader.rs
  versatiles_core/src/io/value_reader_blob.rs
  versatiles_core/src/io/value_reader_file.rs
  versatiles_core/src/io/value_reader_slice.rs
  versatiles_core/src/types/byte_range.rs
Due: rust-fmt

fix(json): survive parse errors in multi-byte text and decode surrogate pairs
  versatiles_core/src/byte_iterator/basics.rs
  versatiles_core/src/byte_iterator/iterator.rs
  versatiles_core/src/json/parse.rs
Due: rust-fmt

fix(geometry): reject vector tile geometry whose deltas overflow
  versatiles_geometry/src/vector_tile/feature.rs
Due: rust-fmt

fix(geometry): fall back to double when a number exceeds its integer type
  versatiles_geometry/src/geo/value.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  node-format: any of: versatiles_node/**/*.{ts,js,json,md}
  node-typecheck: any of: versatiles_node/src/**/*.ts
  node-lint: any of: versatiles_node/src/**/*.ts
