Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

rust-fmt:
  run: cargo fmt -- --check
  stage_fixed: true

node-format:
  run: cd versatiles_node && npm run format:check
  stage_fixed: true

node-typecheck:
  run: cd versatiles_node && npm run typecheck

node-lint:
  run: cd versatiles_node && npm run lint

release: v3.0.5
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

test: add tests for Progress event emissions and handling
  versatiles_node/src/progress.rs
Due: rust-fmt

fix: refactor TileSource handling to use HashMap and add duplicate name check
  versatiles_node/src/server.rs
Due: rust-fmt

fix: update context messages in Brotli and Gzip compression functions to include blob size
  versatiles_core/src/utils/compression/method_brotli.rs
  versatiles_core/src/utils/compression/method_gzip.rs
Due: rust-fmt

fix: add unwrap_results method to TileStream for better error handling and update related usages
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/types/converter.rs
  versatiles_core/src/types/tile_stream.rs
Due: rust-fmt

fix: integrate LRU cache for LimitedCache implementation and update related methods
  Cargo.lock
  versatiles_core/Cargo.toml
  versatiles_core/src/types/limited_cache.rs
Due: rust-fmt

fix: add unwrap_results method to various TileSource implementations
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles_core/src/types/tile_stream.rs
  versatiles_pipeline/src/operations/raster/raster_flatten.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
  versatiles_pipeline/src/operations/vector/traits.rs
Due: rust-fmt

fix: add fallible methods for UTF-8 conversion in Blob struct
  versatiles_core/src/types/blob.rs
Due: rust-fmt

fix: adjust indentation
  versatiles_core/src/types/blob.rs
  versatiles_pipeline/src/operations/raster/raster_flatten.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
  versatiles_pipeline/src/operations/vector/traits.rs
Due: rust-fmt

fix: update error handling in TileStream tests to use filter_map for Result unwrapping
  versatiles_core/src/types/tile_stream.rs
Due: rust-fmt

fix: improve error handling in ok_data function for compression optimization
  versatiles/src/server/handlers.rs
Due: rust-fmt

fix: enhance error handling for path prefix mismatch in serve_tile_from_source
  versatiles/src/server/handlers.rs
Due: rust-fmt

refactor: rename silent mode to silent_progress in runtime builder and related functions
  versatiles/src/runtime.rs
  versatiles/src/server/handlers.rs
  versatiles_container/src/runtime/builder.rs
  versatiles_container/src/runtime/mod.rs
  versatiles_container/src/runtime/outer.rs
  versatiles_node/src/runtime.rs
Due: rust-fmt

feat: add logging initialization with env_logger and dependencies for better debugging
  Cargo.lock
  versatiles_node/Cargo.toml
  versatiles_node/src/lib.rs
Due: rust-fmt

fix: change server port from 8080 to 0 for dynamic port assignment in examples
  versatiles_node/examples/serve.ts
Due: node-format

fix: enhance error logging with detailed error chain formatting in serve_tile_from_source and ok_data
  versatiles/src/server/handlers.rs
Due: rust-fmt

feat: implement position-independent I/O for thread-safe file reading and add concurrent read tests
  versatiles_core/src/io/data_reader_file.rs
Due: rust-fmt

feat: add concurrent tile request handling with stress testing in serve.rs
  versatiles/tests/serve.rs
Due: rust-fmt

feat: add benchmark script for measuring VersaTiles server response times
  scripts/benchmark_server.sh
Due: none

release: v3.0.6
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: improve error handling for hex escape sequences and update file name conversion to use to_string_lossy
  versatiles_core/src/byte_iterator/basics.rs
  versatiles_core/src/io/data_reader_file.rs
Due: rust-fmt

fix: optimize escape_json_string for better performance and readability
  versatiles_core/src/json/stringify.rs
Due: rust-fmt

fix: optimize as_hex method for improved performance and handle empty Blob case
  versatiles_core/src/types/blob.rs
Due: rust-fmt

fix: refactor iter_bbox_grid to use into_iter_coords
  versatiles_core/src/types/tile_bbox/iter.rs
Due: rust-fmt

fix: enhance Gzip compression functions with detailed documentation and add fast compression variant
  versatiles_core/src/utils/compression/method_gzip.rs
Due: rust-fmt

fix: enhance vector_update_properties operation with detailed parameter descriptions and support for custom field and decimal separators
  versatiles_pipeline/README.md
  versatiles_pipeline/src/helpers/csv.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
Due: rust-fmt

fix: enhance DataLocation parsing to support in-memory blobs with ASCII content
  versatiles_container/src/types/data_location.rs
  versatiles_container/src/types/data_source.rs
Due: rust-fmt

release: v3.1.0
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: improve documentation for tile container input and output parameters
  versatiles/src/tools/convert.rs
  versatiles/src/tools/help.rs
  versatiles/src/tools/help_source.md
  versatiles/src/tools/probe.rs
  versatiles/src/tools/serve.rs
Due: rust-fmt

fix: enhance GeoValue parsing to cover leading zeros and exponential notation
  versatiles_geometry/src/geo/value.rs
Due: rust-fmt

fix: add support for configurable string fields in CsvReader
  versatiles_pipeline/src/helpers/csv.rs
Due: rust-fmt

fix: set id fields as string fields in vector_update_properties
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
Due: rust-fmt

fix: update GeoValue handling to explicitly use String type for string fields in CsvReader
  versatiles_pipeline/src/helpers/csv.rs
Due: rust-fmt

docs: Added nixpkgs-badge and changed their order, Updated Table of Contents
  README.md
Due: none

docs: rename "Quick Start" and update TOC, #169
  README.md
Due: none

Update dependencies across multiple crates
  Cargo.lock
  Cargo.toml
  versatiles/Cargo.toml
  versatiles_container/Cargo.toml
  versatiles_core/Cargo.toml
  versatiles_derive/Cargo.toml
  versatiles_image/Cargo.toml
  versatiles_image/src/traits/operation.rs
  versatiles_pipeline/Cargo.toml
Due: rust-fmt

chore: update NPM devDependencies to latest versions
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

release: v3.1.1
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

chore: update Node.js version to 24 and improve npm trusted publishing setup
  .github/workflows/release.yml
Due: none

Path conditions:
  rust-fmt: any of: *.rs
  node-format: any of: versatiles_node/**/*.{ts,js,json,md}
  node-typecheck: any of: versatiles_node/src/**/*.ts
  node-lint: any of: versatiles_node/src/**/*.ts
