Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

lefthook.yml:

# Lefthook configuration for versatiles-rs
# Optional but recommended for contributors
#
# Installation:
#   macOS:   brew install lefthook
#   Linux:   See https://github.com/evilmartians/lefthook
#   Windows: scoop install lefthook
#
# Setup: lefthook install

pre-commit:
  parallel: true

  commands:
    # Rust formatting check (fast)
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt -- --check
      stage_fixed: true

    # Node.js formatting check (fast)
    node-format:
      glob: 'versatiles_node/**/*.{ts,js,json,md}'
      run: cd versatiles_node && npm run format:check
      stage_fixed: true

    # TypeScript type check (medium speed)
    node-typecheck:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run typecheck

    # ESLint (fast)
    node-lint:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run lint

pre-push:
  parallel: false

  commands:
    # Full Node.js checks before push
    node-check:
      run: cd versatiles_node && npm run check

    # Full Rust checks before push
    rust-check:
      run: |
        source scripts/env-gdal.sh
        cargo clippy --workspace --all-targets -- -D warnings

    # All tests before push
    test:
      run: |
        source scripts/env-gdal.sh
        cargo test --workspace --all-targets

refactor: rename path fields to src and prefix in tile and static source configurations
  versatiles_node/src/server.rs
Due: rust-fmt

fix: update check script to include build step before linting and testing
  versatiles_node/package.json
Due: none

feat: add Windows ARM64 MSVC package to package-lock.json
  versatiles_node/package-lock.json
Due: none

feat: add npm-check-updates for managing package upgrades
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

chore: update devDependencies to latest versions
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

feat: update dependencies and improve progress event handling in Node.js bindings
  Cargo.lock
  Cargo.toml
  versatiles_node/Cargo.toml
  versatiles_node/package.json
  versatiles_node/src/progress.rs
  versatiles_node/src/progress.test.ts
  versatiles_node/tsconfig.json
Due: rust-fmt, node-format

fix: update convert_to_with_progress to be async and fix progress event handling
  versatiles_node/src/container.rs
  versatiles_node/src/progress.rs
  versatiles_node/src/progress.test.ts
Due: rust-fmt, node-format

feat: update dependencies and implement LRU caching for tile management
  Cargo.lock
  versatiles_pipeline/Cargo.toml
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
Due: rust-fmt

docs: add mermaid diagram for package dependencies in README
  README.md
Due: none

docs: add Quick Start section to README
  README.md
Due: none

docs: improve README with Core Concepts and Commands sections
  README.md
Due: none

docs: add Configuration section to README with YAML examples
  README.md
Due: none

docs: update configuration file references to use CONFIG.md
  DEVELOPMENT.md
  README.md
  scripts/build-docs-readme.sh
  versatiles/CONFIG.md
Due: none

docs: update README with Development Workflow, Prerequisites, and Quick Start sections
  README.md
Due: none

docs: document scripts in README
  README.md
Due: none

fix: reduce redraw interval to 500ms
  versatiles_core/src/progress/inner.rs
Due: rust-fmt

fix: remove 'no-terminal' feature from versatiles_core
  versatiles_core/Cargo.toml
  versatiles_core/src/progress/inner.rs
  versatiles_node/Cargo.toml
Due: rust-fmt

fix: update ProgressCallback type for better thread safety
  versatiles_core/src/progress/progress_bar.rs
Due: rust-fmt

fix: update 'check' script to use 'build:debug' for improved debugging
  versatiles_node/package.json
Due: none

fix: rename convert_to_with_progress to convert_to for consistency
  versatiles_node/src/container.rs
  versatiles_node/src/container.test.ts
  versatiles_node/src/progress.test.ts
Due: rust-fmt, node-format

fix: improve convert_to method with optional progress and message callbacks
  versatiles_node/src/container.rs
  versatiles_node/src/container.test.ts
  versatiles_node/src/lib.rs
  versatiles_node/src/progress.rs
  versatiles_node/src/progress.test.ts
Due: rust-fmt, node-format

fix: update GDAL version to 3.12.0 in install script
  scripts/install-gdal.sh
Due: none

fix: update libredox to version 0.1.11 and add redox_syscall 0.6.0 dependency
  Cargo.lock
Due: none

refactor: remove probeTiles function and related tests
  versatiles_node/src/functions.test.ts
  versatiles_node/src/lib.rs
Due: rust-fmt, node-format

refactor: remove convert_tiles function and related code
  versatiles_node/src/functions.test.ts
  versatiles_node/src/lib.rs
Due: rust-fmt, node-format

refactor: remove ProgressCallback struct and related code
  versatiles_node/src/progress_callback.rs
Due: rust-fmt

refactor: change ProcessingConfig to use Arc in various components
  versatiles/src/helper/registry.rs
  versatiles/src/lib.rs
  versatiles/src/server/sources/static_source_tar.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles/src/tools/convert.rs
  versatiles/src/tools/dev_tools/export_outline.rs
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles/src/tools/dev_tools/print_tilejson.rs
  versatiles/src/tools/probe.rs
  versatiles/src/tools/serve.rs
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/writer.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/mod.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/mod.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/container/versatiles/writer.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/processing_config.rs
  versatiles_container/src/types/tiles_reader.rs
  versatiles_container/src/types/writer.rs
  versatiles_node/src/container.rs
  versatiles_pipeline/src/container_reader/reader.rs
  versatiles_pipeline/src/factory.rs
Due: rust-fmt

refactor: remove complete event listener and related completion signaling code
  versatiles_node/src/progress.rs
Due: rust-fmt

refactor: add runtime event system with event bus and progress tracking
  versatiles_container/src/types/mod.rs
  versatiles_container/src/types/runtime/builder.rs
  versatiles_container/src/types/runtime/events.rs
  versatiles_container/src/types/runtime/mod.rs
  versatiles_container/src/types/runtime/progress.rs
Due: rust-fmt

refactor: update ContainerRegistry to use TilesRuntime instead of ProcessingConfig
  versatiles_container/src/types/container_registry.rs
Due: rust-fmt

refactor: replace ProcessingConfig with TilesRuntime in various components
  versatiles_container/src/cache/map.rs
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/writer.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/container/versatiles/writer.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/tiles_reader.rs
  versatiles_container/src/types/writer.rs
Due: rust-fmt

refactor: update converter to use TilesRuntime instead of ContainerRegistry
  versatiles_container/src/types/converter.rs
Due: rust-fmt

refactor: replace ProcessingConfig with TilesRuntime in registry and related components
  versatiles/src/helper/registry.rs
  versatiles/src/lib.rs
  versatiles/src/main.rs
  versatiles/src/tools/convert.rs
  versatiles/src/tools/probe.rs
  versatiles/src/tools/serve.rs
Due: rust-fmt

refactor: replace ProcessingConfig with TilesRuntime across various components
  versatiles/src/helper/registry.rs
  versatiles/src/main.rs
  versatiles/src/server/sources/static_source_tar.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles/src/tools/dev_tools/export_outline.rs
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles/src/tools/dev_tools/print_tilejson.rs
  versatiles/src/tools/serve.rs
  versatiles_node/src/container.rs
  versatiles_pipeline/src/container_reader/reader.rs
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
Due: rust-fmt

refactor: update to use TilesRuntime with customized registry across multiple modules
  versatiles/src/helper/registry.rs
  versatiles/src/main.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles/src/tools/dev_tools/export_outline.rs
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles/src/tools/dev_tools/print_tilejson.rs
  versatiles_container/src/container/tar/mod.rs
  versatiles_container/src/container/versatiles/mod.rs
  versatiles_node/src/container.rs
Due: rust-fmt

refactor: replace ProcessingConfig with TilesRuntime in cache and writer modules
  versatiles_container/src/cache/mod.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/mod.rs
  versatiles_container/src/types/processing_config.rs
  versatiles_container/src/types/writer.rs
Due: rust-fmt

refactor: format code
  versatiles/src/helper/registry.rs
  versatiles/src/main.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles/src/tools/dev_tools/export_outline.rs
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles/src/tools/dev_tools/print_tilejson.rs
  versatiles/src/tools/probe.rs
  versatiles_container/src/cache/map.rs
  versatiles_container/src/container/versatiles/writer.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/mod.rs
  versatiles_container/src/types/runtime/builder.rs
  versatiles_container/src/types/runtime/mod.rs
  versatiles_container/src/types/runtime/progress.rs
  versatiles_container/src/types/tiles_reader.rs
  versatiles_node/src/container.rs
Due: rust-fmt

fix: clippy warnings
  versatiles_container/src/types/runtime/builder.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
Due: rust-fmt

refactor: replace GDAL installation steps with a composite action for better maintainability
  .github/actions/setup-gdal/action.yml
  .github/workflows/ci.yml
  scripts/install-gdal.sh
  scripts/setup-gdal-env.sh
Due: none

fix: revert GDAL version to 3.11.5
  scripts/install-gdal.sh
Due: none
