Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

lefthook.yml:

# Lefthook configuration for versatiles-rs
# Optional but recommended for contributors
#
# Installation:
#   macOS:   brew install lefthook
#   Linux:   See https://github.com/evilmartians/lefthook
#   Windows: scoop install lefthook
#
# Setup: lefthook install

pre-commit:
  parallel: true

  commands:
    # Rust formatting check (fast)
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt -- --check
      stage_fixed: true

    # Node.js formatting check (fast)
    node-format:
      glob: 'versatiles_node/**/*.{ts,js,json,md}'
      run: cd versatiles_node && npm run format:check
      stage_fixed: true

    # TypeScript type check (medium speed)
    node-typecheck:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run typecheck

    # ESLint (fast)
    node-lint:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run lint

pre-push:
  parallel: false

  commands:
    # Full Node.js checks before push
    node-check:
      run: cd versatiles_node && npm run check

    # Full Rust checks before push
    rust-check:
      run: |
        source scripts/env-gdal.sh
        cargo clippy --workspace --all-targets -- -D warnings

    # All tests before push
    test:
      run: |
        source scripts/env-gdal.sh
        cargo test --workspace --all-targets

refactor: rename methods for consistency and clarity across the codebase
  versatiles/src/tools/convert.rs
  versatiles/tests/serve.rs
  versatiles/tests/serve_compression.rs
  versatiles/tests/serve_config.rs
  versatiles/tests/serve_cors.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/dem_source.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/raster_source.rs
Due: rust-fmt

refactor: update MessageCallback type to use MessageData for improved clarity
  versatiles_node/src/progress.rs
Due: rust-fmt

docs: update filter operation to include tile coordinates from another container
  versatiles_pipeline/README.md
Due: none

refactor: rename TileSource.open() and ContainerReader.open() to fromPath() for consistency
  versatiles_node/CONTRIBUTING.md
  versatiles_node/README.md
  versatiles_node/examples/README.md
  versatiles_node/examples/probe.ts
  versatiles_node/examples/read-tiles.ts
  versatiles_node/examples/vpl-pipeline.ts
  versatiles_node/src/README.md
  versatiles_node/src/codegen.rs
  versatiles_node/src/convert.test.ts
  versatiles_node/src/lib.rs
  versatiles_node/src/server.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/tile_source.test.ts
  versatiles_node/src/tile_source_convert.test.ts
Due: rust-fmt, node-format

refactor: rename tilejson field to version for consistency in TileJSON structure
  versatiles_node/examples/probe.ts
  versatiles_node/src/lib.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/tile_source.test.ts
  versatiles_node/src/types/probe_result.rs
  versatiles_node/src/types/tilejson.rs
Due: rust-fmt, node-format

refactor: rename eta field to eta_timestamp for clarity in ProgressData structure
  versatiles_node/src/lib.rs
  versatiles_node/src/progress.rs
  versatiles_node/src/progress.test.ts
Due: rust-fmt, node-format

chore: Update dependencies across the project
  Cargo.lock
  Cargo.toml
  versatiles_core/Cargo.toml
  versatiles_node/Cargo.toml
Due: none

chore: update devDependencies to latest versions
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

refactor: improve formatting and clarity in various files
  Cargo.toml
  versatiles/src/tools/mosaic_tools/assemble/partitioning.rs
  versatiles_pipeline/src/operations/dem/dem_overview.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/bandmapping.rs
Due: rust-fmt

refactor: improve type handling and clarity in various modules
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/progress/handle.rs
  versatiles_container/src/traversal/processing.rs
  versatiles_core/src/io/data_reader_file.rs
  versatiles_core/src/types/geo_bbox.rs
  versatiles_core/src/types/tile_pyramid/mutate.rs
  versatiles_pipeline/src/operations/dem/dem_overview.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/bandmapping.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/raster_source.rs
Due: rust-fmt

refactor: enhance clippy linting allowances and improve type conversions in various modules
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles_core/src/types/geo_center.rs
  versatiles_core/src/types/tile_coord.rs
  versatiles_core/src/types/tile_pyramid/constructors.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/dem_source.rs
Due: rust-fmt

refactor: tests to use approx for floating-point comparisons
  Cargo.lock
  Cargo.toml
  versatiles_core/Cargo.toml
  versatiles_core/src/byte_iterator/basics.rs
  versatiles_core/src/io/value_reader.rs
  versatiles_core/src/json/types/array.rs
  versatiles_core/src/json/types/number.rs
  versatiles_core/src/json/types/value.rs
  versatiles_core/src/types/geo_center.rs
  versatiles_core/src/types/tilejson/lib.rs
  versatiles_core/src/types/tilejson/vector_layer.rs
  versatiles_geometry/Cargo.toml
  versatiles_geometry/src/geo/collection.rs
  versatiles_geometry/src/geo/types/coordinates.rs
  versatiles_geometry/src/geo/types/linestring.rs
  versatiles_geometry/src/geo/types/multi_linestring.rs
  versatiles_geometry/src/geo/types/multi_point.rs
  versatiles_geometry/src/geo/types/multi_polygon.rs
  versatiles_geometry/src/geo/types/point.rs
  versatiles_geometry/src/geo/types/polygon.rs
  versatiles_geometry/src/geo/types/ring.rs
  versatiles_geometry/src/geojson/parse.rs
  versatiles_image/Cargo.toml
  versatiles_image/src/format/avif.rs
  versatiles_image/src/format/jpeg.rs
  versatiles_image/src/format/png.rs
  versatiles_image/src/format/webp.rs
  versatiles_node/Cargo.toml
  versatiles_node/src/lib.rs
  versatiles_node/src/progress.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/types/convert_options.rs
  versatiles_node/src/types/tile_coord.rs
  versatiles_pipeline/Cargo.toml
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/general/meta_update.rs
Due: rust-fmt

chore: update dependencies for portable-atomic-util, pxfm, and tokio to latest versions
  Cargo.lock
  Cargo.toml
Due: none

chore: update npm-check-updates and typescript to latest versions
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

test: add intersect_bbox tests for TileQuadtree functionality
  versatiles_core/src/types/tile_quadtree/tests.rs
Due: rust-fmt

refactor: rename iter_bbox_grid to iter_grid for consistency across modules
  versatiles_container/src/traversal/mod.rs
  versatiles_core/src/types/tile_bbox/iter.rs
  versatiles_core/src/types/tile_bbox/tests.rs
  versatiles_core/src/types/tile_cover/iter.rs
  versatiles_core/src/types/tile_cover/tests.rs
  versatiles_core/src/types/tile_quadtree/iter.rs
  versatiles_core/src/types/tile_quadtree/tests.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/operation.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/read/from_merged_vector.rs
  versatiles_pipeline/src/operations/read/from_stacked.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
Due: rust-fmt

test: add unit tests for TileBBoxMap and TileCoord functionality
  versatiles_core/src/types/tile_bbox_map.rs
  versatiles_core/src/types/tile_coord.rs
  versatiles_core/src/types/tile_format.rs
Due: rust-fmt

refactor: reorganize quadtree node methods and enhance functionality for bounding box operations
  versatiles_core/src/types/tile_quadtree/constructors.rs
  versatiles_core/src/types/tile_quadtree/mutate.rs
  versatiles_core/src/types/tile_quadtree/node.rs
  versatiles_core/src/types/tile_quadtree/queries.rs
Due: rust-fmt

test: refactor tests for TileCoord and TileFormat using rstest for improved readability and maintainability
  versatiles_core/src/types/tile_coord.rs
  versatiles_core/src/types/tile_cover/tests.rs
  versatiles_core/src/types/tile_format.rs
  versatiles_core/src/types/tile_quadtree/tests.rs
Due: rust-fmt

test: add integration tests for DataReaderSftp with TestSftpServer
  versatiles_core/src/io/data_reader_sftp.rs
Due: rust-fmt

test: add unit tests for classify_and_stream_tiles and related functions
  versatiles/src/tools/mosaic_tools/assemble/pipeline.rs
Due: rust-fmt

test: update SFTP server tests to conditionally compile on Unix systems
  versatiles_core/Cargo.toml
  versatiles_core/src/io/data_reader_sftp.rs
  versatiles_core/src/io/data_writer_sftp.rs
  versatiles_core/src/io/mod.rs
  versatiles_core/src/io/sftp_utils.rs
  versatiles_core/src/io/sftp_wrappers.rs
  versatiles_core/src/io/test_sftp_server.rs
Due: rust-fmt

test: add async tests for DataWriterSftp using TestSftpServer
  versatiles_core/src/io/data_writer_sftp.rs
Due: rust-fmt

test: add in-process SFTP server for integration testing with in-memory filesystem
  versatiles_core/src/io/mod.rs
  versatiles_core/src/io/test_sftp_server.rs
Due: rust-fmt

test: add checks for gdal and ssh2 features in audit-unused-deps script
  scripts/audit-unused-deps.sh
Due: none

test: add async tests for SftpWriteStream and SftpFileSystem using TestSftpServer
  versatiles_core/src/io/sftp_wrappers.rs
Due: rust-fmt

chore: add russh and related dependencies for SSH functionality
  Cargo.lock
  versatiles_core/Cargo.toml
Due: none

test: add async tests for open_session with password authentication and error handling
  versatiles_core/src/io/sftp_utils.rs
Due: rust-fmt

test: unify SSH session timeout configuration in open_session function
  versatiles_core/src/io/sftp_utils.rs
Due: rust-fmt

test: enhance test coverage report formatting in test-coverage.sh
  scripts/test-coverage.sh
Due: none

refactor: update compression parsing to use anyhow for error handling
  versatiles_node/src/convert.rs
  versatiles_node/src/macros.rs
  versatiles_node/src/types/tile_compression.rs
Due: rust-fmt

refactor: tile compression handling and integrate TilePyramid in PMTiles and VersaTiles
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mbtiles/sink.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/pmtiles/types/header_v3.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/mod.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/tar/sink.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/mod.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/container/versatiles/sink.rs
  versatiles_container/src/container/versatiles/writer.rs
Due: rust-fmt

refactor: Rename bbox_pyramid to tile_pyramid across the codebase
  DEVELOPMENT.md
  versatiles/src/server/sources/static_source_tar.rs
  versatiles/src/tools/convert.rs
  versatiles/src/tools/dev_tools/export_outline.rs
  versatiles_container/README.md
  versatiles_container/src/container/directory/reader.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mock/reader.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/pmtiles/types/header_v3.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/reader.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/container/versatiles/types/block_index.rs
  versatiles_container/src/container/versatiles/writer.rs
  versatiles_container/src/lib.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/tile_source_trait.rs
  versatiles_container/tests/round_trip.rs
  versatiles_core/src/types/tilejson/lib.rs
  versatiles_node/src/convert.rs
  versatiles_node/src/types/source_metadata.rs
  versatiles_pipeline/src/helpers/dummy_image_source.rs
  versatiles_pipeline/src/helpers/dummy_vector_source.rs
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/raster/raster_mask/mod.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/operation.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/read/from_tilejson.rs
Due: rust-fmt

refactor: TileProcessor and TileSourceMetadata for improved clarity and functionality
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/processor.rs
  versatiles_container/src/types/tile/accessors.rs
  versatiles_container/src/types/tile/conversion.rs
  versatiles_container/src/types/tile/mod.rs
  versatiles_container/src/types/tile/tests.rs
  versatiles_container/src/types/tile_source_metadata.rs
  versatiles_container/src/types/tile_source_trait.rs
Due: rust-fmt

refactor: enhance error conversion utilities and add tests for NapiResultExt
  versatiles_node/src/macros.rs
Due: rust-fmt

refactor: enhance cleanup method in Instance for better error handling
  versatiles_pipeline/src/operations/read/from_gdal/gdal_pool.rs
  versatiles_pipeline/src/operations/read/from_gdal/instance.rs
Due: rust-fmt

test: add unit tests for tile resize and overview core functionalities
  versatiles_pipeline/src/helpers/overview.rs
  versatiles_pipeline/src/helpers/tile_resize.rs
  versatiles_pipeline/src/operations/read/traits.rs
  versatiles_pipeline/src/operations/vector/traits.rs
Due: rust-fmt

refactor: tile source metadata handling and add tile pyramid support
  versatiles_pipeline/src/helpers/arrange_tiles.rs
  versatiles_pipeline/src/helpers/dummy_image_source.rs
  versatiles_pipeline/src/helpers/dummy_vector_source.rs
  versatiles_pipeline/src/helpers/overview.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/helpers/tile_resize.rs
  versatiles_pipeline/src/operations/dem/dem_overview.rs
  versatiles_pipeline/src/operations/dem/dem_quantize.rs
  versatiles_pipeline/src/operations/dem/dem_tile_resize.rs
  versatiles_pipeline/src/operations/general/filter.rs
  versatiles_pipeline/src/operations/general/meta_update.rs
  versatiles_pipeline/src/operations/raster/raster_flatten.rs
  versatiles_pipeline/src/operations/raster/raster_format.rs
  versatiles_pipeline/src/operations/raster/raster_levels.rs
  versatiles_pipeline/src/operations/raster/raster_mask/mod.rs
  versatiles_pipeline/src/operations/raster/raster_overscale.rs
  versatiles_pipeline/src/operations/raster/raster_overview.rs
  versatiles_pipeline/src/operations/raster/raster_tile_resize.rs
  versatiles_pipeline/src/operations/read/from_color.rs
  versatiles_pipeline/src/operations/read/from_container.rs
  versatiles_pipeline/src/operations/read/from_debug/mod.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/operation.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/read/from_merged_vector.rs
  versatiles_pipeline/src/operations/read/from_stacked.rs
  versatiles_pipeline/src/operations/read/from_stacked_raster.rs
  versatiles_pipeline/src/operations/read/from_tile.rs
  versatiles_pipeline/src/operations/read/from_tilejson.rs
  versatiles_pipeline/src/operations/vector/traits.rs
Due: rust-fmt

refactor: add benchmark script for measuring container reader performance
  .gitignore
  scripts/bench-container-initialisation.sh
Due: none

refactor: enhance SourceMetadata handling and improve tile format retrieval
  versatiles_node/src/server.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/types/source_metadata.rs
Due: rust-fmt
