Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

rust-fmt:
  run: cargo fmt -- --check
  stage_fixed: true

node-format:
  run: cd versatiles_node && npm run format:check
  stage_fixed: true

node-typecheck:
  run: cd versatiles_node && npm run typecheck

node-lint:
  run: cd versatiles_node && npm run lint

fix: remove optional musl dependencies for Linux in package.json and package-lock.json
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: update version synchronization process for package.json and package-lock.json
  scripts/release-package.sh
  scripts/sync-version.sh
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: order of arguments in server test
  versatiles/src/tools/serve.rs
Due: rust-fmt

release: v3.0.0-rc.4
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: refine condition to trigger documentation deployment for regular releases only
  .github/workflows/docs.yml
Due: none

fix: update npm artifacts generation command to use npx
  .github/workflows/release.yml
Due: none

fix: enhance npm package generation process for platform-specific binaries
  .github/workflows/release.yml
Due: none

fix: standardize JSON formatting in package.json and sync version script
  scripts/sync-version.sh
  versatiles_node/package.json
Due: none

fix: clean up commented debug output in env-gdal.sh
  scripts/env-gdal.sh
Due: none

test: add tests for versatiles_node convert
  versatiles_node/src/convert.rs
Due: rust-fmt

test: add unit tests for ProgressData and MessageData
  versatiles_node/src/progress.rs
Due: rust-fmt

feat: add workflow step to publish crates to crates.io
  .github/workflows/release.yml
Due: none

fix: add 'release' keyword to valid release types in release-package.sh
  scripts/release-package.sh
Due: none

release: v3.0.0
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: add id-token permission for npm provenance attestations
  .github/workflows/release.yml
Due: none

feat: add check for already published version before publishing to crates.io
  .github/workflows/release.yml
Due: none

fix: streamline crates.io publishing process by checking for existing versions
  .github/workflows/release.yml
Due: none

fix: improve crates.io publishing process to handle existing versions gracefully
  .github/workflows/release.yml
Due: none

fix: add support for GitHub token authentication in release workflow
  scripts/workflow-create-release.sh
Due: none

fix: replace curl with gh CLI for fetching tags and commits in release workflow
  scripts/workflow-create-release.sh
Due: none

fix: remove conditional check for publishing on tag pushes in release workflow
  .github/workflows/release.yml
Due: none

fix: reorganize npm package structure after artifact download in release workflow
  .github/workflows/release.yml
Due: none

fix: remove failing prepublishOnly step and increase verification delay
  .github/workflows/release.yml
Due: none

fix: add pipefail to correctly detect already-published crates
  .github/workflows/release.yml
Due: none

fix: disable optional dependencies during npm install
  .github/workflows/release.yml
Due: none

fix: disable optional dependencies during Node.js installation
  .github/workflows/ci.yml
Due: none

fix: update npm install command to use --omit=optional
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: update optional dependencies with version, resolved URL, integrity, and engine requirements
  versatiles_node/package-lock.json
Due: none

fix: update npm install command to use 'npm i' instead of 'npm ci' for optional dependencies
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: update npm install command to use 'npm install' instead of 'npm i --omit=optional' in CI workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

fix: update runtime to use silent mode as a parameter instead of a default value
  versatiles/src/runtime.rs
  versatiles_container/src/progress/handle.rs
  versatiles_container/src/runtime/builder.rs
  versatiles_container/src/runtime/mod.rs
  versatiles_container/src/runtime/outer.rs
  versatiles_node/src/runtime.rs
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/helpers/csv.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
Due: rust-fmt

fix: simplify operation_from_vpl by inlining parse_vpl call
  versatiles_pipeline/src/factory.rs
Due: rust-fmt

refactor: rename ContainerReader to TileSource for consistency
  versatiles_node/src/container.rs
  versatiles_node/src/lib.rs
Due: rust-fmt

feat: improve TileSource with new factory method and improve PipelineReader context
  versatiles_node/src/container.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
Due: rust-fmt

refactor: rename ContainerReader to TileSource and update related tests
  versatiles_node/examples/probe.mjs
  versatiles_node/examples/read-tiles.mjs
  versatiles_node/src/convert.test.ts
  versatiles_node/src/lib.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/tile_source.test.ts
Due: rust-fmt, node-format

release: v3.0.1
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: update TraversalSize initialization for versatiles containers
  versatiles_container/src/container/versatiles/reader.rs
Due: rust-fmt

feat: add iterator method to JsonArray for improved element access
  versatiles_core/src/json/types/array.rs
Due: rust-fmt

feat: Add pretty_assertions for improved test output
  Cargo.lock
  versatiles_node/.gitignore
  versatiles_node/Cargo.toml
  versatiles_node/eslint.config.js
  versatiles_node/examples/convert-with-progress.ts
  versatiles_node/examples/convert.ts
  versatiles_node/examples/lib/logger.ts
  versatiles_node/examples/probe.ts
  versatiles_node/examples/read-tiles.ts
  versatiles_node/examples/serve.ts
  versatiles_node/package.json
  versatiles_node/src/convert.test.ts
  versatiles_node/src/tile_source.rs
  versatiles_node/src/tile_source.test.ts
  versatiles_node/src/types/mod.rs
  versatiles_node/src/types/tilejson.rs
  versatiles_node/tsconfig.json
Due: rust-fmt, node-format

test: Add unit tests for TileSource VPL functionality
  versatiles_node/src/tile_source.rs
  versatiles_node/src/tile_source.test.ts
Due: rust-fmt, node-format

Path conditions:
  rust-fmt: any of: *.rs
  node-format: any of: versatiles_node/**/*.{ts,js,json,md}
  node-typecheck: any of: versatiles_node/src/**/*.ts
  node-lint: any of: versatiles_node/src/**/*.ts
