Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

rust-fmt:
  run: cargo fmt -- --check
  stage_fixed: true

node-format:
  run: cd versatiles_node && npm run format:check
  stage_fixed: true

node-typecheck:
  run: cd versatiles_node && npm run typecheck

node-lint:
  run: cd versatiles_node && npm run lint

docs: update GDAL installation script description in README
  README.md
Due: none

feat: add event logging for tile conversion start and completion
  versatiles_container/src/types/converter.rs
Due: rust-fmt

feat: refactor runtime management and improve modularity with new runtime functions
  versatiles/src/helper/mod.rs
  versatiles/src/lib.rs
  versatiles/src/main.rs
  versatiles/src/runtime/functions.rs
  versatiles/src/runtime/mod.rs
  versatiles/src/runtime/registry.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles/src/tools/dev.rs
  versatiles/src/tools/dev_tools/export_outline.rs
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles/src/tools/dev_tools/print_tilejson.rs
  versatiles/src/tools/help.rs
  versatiles/src/tools/serve.rs
  versatiles_node/src/lib.rs
  versatiles_node/src/runtime.rs
  versatiles_node/src/server.rs
Due: rust-fmt

fix: update module paths in documentation comments for clarity
  versatiles/src/config/main.rs
  versatiles/src/config/mod.rs
Due: rust-fmt

refactor: move RuntimeInner struct
  versatiles_container/src/types/runtime/inner.rs
  versatiles_container/src/types/runtime/mod.rs
Due: rust-fmt

refactor: move runtime system
  versatiles/src/runtime/mod.rs
  versatiles_container/src/lib.rs
  versatiles_container/src/runtime/builder.rs
  versatiles_container/src/runtime/events.rs
  versatiles_container/src/runtime/inner.rs
  versatiles_container/src/runtime/mod.rs
  versatiles_container/src/runtime/progress.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/mod.rs
  versatiles_container/src/types/tiles_reader.rs
  versatiles_node/src/container.rs
Due: rust-fmt

refactor: TilesRuntime and ContainerRegistry
  versatiles/src/lib.rs
  versatiles/src/main.rs
  versatiles/src/runtime.rs
  versatiles/src/runtime/functions.rs
  versatiles/src/runtime/mod.rs
  versatiles/src/runtime/registry.rs
  versatiles/src/server/sources/static_source_tar.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles/src/tools/convert.rs
  versatiles/src/tools/dev.rs
  versatiles/src/tools/dev_tools/export_outline.rs
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles/src/tools/dev_tools/print_tilejson.rs
  versatiles/src/tools/probe.rs
  versatiles/src/tools/serve.rs
  versatiles_container/src/container/directory/writer.rs
  versatiles_container/src/container/mbtiles/reader.rs
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/mock/writer.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/tar/mod.rs
  versatiles_container/src/container/tar/writer.rs
  versatiles_container/src/container/versatiles/mod.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/container/versatiles/writer.rs
  versatiles_container/src/lib.rs
  versatiles_container/src/runtime/builder.rs
  versatiles_container/src/runtime/inner.rs
  versatiles_container/src/runtime/mod.rs
  versatiles_container/src/runtime/outer.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/tiles_reader.rs
  versatiles_container/src/types/writer.rs
  versatiles_node/src/container.rs
  versatiles_node/src/runtime.rs
  versatiles_node/src/server.rs
  versatiles_pipeline/src/container_reader/reader.rs
  versatiles_pipeline/src/factory.rs
Due: rust-fmt

feat: improve runtime integration and move progress
  Cargo.lock
  Cargo.toml
  versatiles/Cargo.toml
  versatiles/src/tools/convert.rs
  versatiles/src/tools/dev_tools/export_outline.rs
  versatiles/src/tools/dev_tools/measure_tile_sizes.rs
  versatiles_container/Cargo.toml
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/pmtiles/writer.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_core/Cargo.toml
  versatiles_core/src/lib.rs
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/helpers/csv.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
Due: rust-fmt

refactor: progress tracking and event handling
  Cargo.lock
  versatiles/src/runtime.rs
  versatiles_container/Cargo.toml
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/lib.rs
  versatiles_container/src/progress/factory.rs
  versatiles_container/src/progress/handle.rs
  versatiles_container/src/progress/mod.rs
  versatiles_container/src/progress/types.rs
  versatiles_container/src/runtime/builder.rs
  versatiles_container/src/runtime/events.rs
  versatiles_container/src/runtime/inner.rs
  versatiles_container/src/runtime/mod.rs
  versatiles_container/src/runtime/outer.rs
  versatiles_container/src/runtime/progress.rs
  versatiles_core/Cargo.toml
  versatiles_core/src/progress/inner.rs
  versatiles_core/src/progress/mod.rs
  versatiles_core/src/progress/progress_bar.rs
  versatiles_node/src/container.rs
  versatiles_node/src/progress.rs
Due: rust-fmt

refactor: update runtime usage in MBTiles and VersaTiles readers and writers
  versatiles_container/src/container/mbtiles/writer.rs
  versatiles_container/src/container/pmtiles/reader.rs
  versatiles_container/src/container/versatiles/mod.rs
  versatiles_container/src/container/versatiles/reader.rs
  versatiles_container/src/runtime/builder.rs
  versatiles_container/src/runtime/mod.rs
  versatiles_container/src/runtime/outer.rs
Due: rust-fmt

feat: update runtime builder to use silent mode for building instances
  versatiles/src/runtime.rs
  versatiles_container/src/runtime/builder.rs
  versatiles_container/src/runtime/mod.rs
  versatiles_container/src/runtime/outer.rs
Due: rust-fmt

docs: update module documentation for cache submodules
  versatiles_container/src/cache/mod.rs
Due: rust-fmt

feat: add npm build step to check script
  scripts/check.sh
Due: none

refactor: improve output messages in check script
  scripts/check.sh
Due: none

feat: update npm build command to use debug mode
  scripts/check.sh
Due: none

feat: improve progress data structure
  Cargo.lock
  versatiles_node/Cargo.toml
  versatiles_node/src/progress.rs
  versatiles_node/src/progress.test.ts
Due: rust-fmt, node-format

feat: implement register_pipeline_readers
  versatiles/src/runtime.rs
  versatiles_node/src/runtime.rs
  versatiles_pipeline/src/helpers/container_registry.rs
  versatiles_pipeline/src/helpers/mod.rs
  versatiles_pipeline/src/lib.rs
Due: rust-fmt

fix: update coverage job to run on all push events
  .github/workflows/ci.yml
Due: none

refactor: CI workflow for windows
  .github/workflows/ci.yml
Due: none

chore: update dependencies for bumpalo, napi-derive, rustls-pki-types, tracing, and tracing-core
  Cargo.lock
  versatiles_node/Cargo.toml
Due: none

test: add unit tests for progress modules
  versatiles_container/src/progress/factory.rs
  versatiles_container/src/progress/handle.rs
  versatiles_container/src/progress/types.rs
Due: rust-fmt

refactor: move utility functions to macros module
  versatiles_node/src/lib.rs
  versatiles_node/src/macros.rs
Due: rust-fmt

fix: npm pkg fix
  versatiles_node/package.json
Due: none

fix: update files field in package.json to include necessary files
  versatiles_node/package.json
Due: none

chore: update package.json to add documentation scripts and dependencies
  .github/workflows/docs.yml
  versatiles_node/.gitignore
  versatiles_node/.nojekyll
  versatiles_node/.prettierignore
  versatiles_node/package-lock.json
  versatiles_node/package.json
  versatiles_node/typedoc.json
Due: none

refactor: move conversion function and types
  versatiles_node/src/container.rs
  versatiles_node/src/container.test.ts
  versatiles_node/src/convert.rs
  versatiles_node/src/convert.test.ts
  versatiles_node/src/lib.rs
  versatiles_node/src/progress.test.ts
  versatiles_node/src/types.rs
  versatiles_node/src/types/convert_options.rs
  versatiles_node/src/types/mod.rs
  versatiles_node/src/types/probe_result.rs
  versatiles_node/src/types/reader_parameters.rs
  versatiles_node/src/types/server_options.rs
  versatiles_node/src/types/tile_compression.rs
  versatiles_node/src/types/tile_coord.rs
Due: rust-fmt, node-format

refactor: use tmpdir for output paths in conversion tests
  versatiles_node/src/convert.test.ts
  versatiles_node/src/progress.test.ts
Due: node-format

feat: add throttling to progress update emissions and include next_emit in ProgressState
  versatiles_container/src/progress/handle.rs
  versatiles_container/src/progress/types.rs
  versatiles_container/src/runtime/outer.rs
Due: rust-fmt

refactor: update examples to use modern import syntax and temporary output paths
  versatiles_node/examples/convert-with-progress.js
  versatiles_node/examples/convert.js
  versatiles_node/examples/probe.js
  versatiles_node/examples/serve.js
Due: node-format

Refactor examples and tests for VersaTiles
  versatiles_node/examples/convert-with-progress.mjs
  versatiles_node/examples/convert.mjs
  versatiles_node/examples/probe.js
  versatiles_node/examples/probe.mjs
  versatiles_node/examples/read-tiles.js
  versatiles_node/examples/read-tiles.mjs
  versatiles_node/examples/serve.js
  versatiles_node/examples/serve.mjs
  versatiles_node/package.json
  versatiles_node/src/container.rs
  versatiles_node/src/container.test.ts
  versatiles_node/src/convert.test.ts
  versatiles_node/src/progress.rs
Due: rust-fmt, node-format

fix: update ETA display format in progress monitoring example
  versatiles_node/examples/convert-with-progress.mjs
Due: none

refactor: clean up whitespace and formatting in example scripts and tests
  versatiles_node/examples/convert-with-progress.mjs
  versatiles_node/examples/convert.mjs
  versatiles_node/examples/probe.mjs
  versatiles_node/examples/serve.mjs
  versatiles_node/src/container.test.ts
Due: node-format

feat: add Node.js test examples to CI workflow
  .github/workflows/ci.yml
Due: none

fix: update Node.js test commands to use npm run syntax
  .github/workflows/ci.yml
Due: none

test: add unit tests for error conversion and progress data handling
  versatiles_node/src/macros.rs
  versatiles_node/src/progress.rs
  versatiles_node/src/runtime.rs
  versatiles_node/src/types/tile_compression.rs
Due: rust-fmt

test: add unit tests for RuntimeBuilder, EventBus, and RuntimeInner
  versatiles_container/src/runtime/builder.rs
  versatiles_container/src/runtime/events.rs
  versatiles_container/src/runtime/inner.rs
Due: rust-fmt

docs: enhance module documentation with detailed usage examples and feature descriptions
  versatiles_node/src/container.rs
  versatiles_node/src/convert.rs
  versatiles_node/src/lib.rs
  versatiles_node/src/macros.rs
  versatiles_node/src/runtime.rs
  versatiles_node/src/server.rs
  versatiles_node/src/types/mod.rs
  versatiles_node/src/types/tile_compression.rs
Due: rust-fmt

fix: update ProgressData structure to use Option types for estimated_seconds_remaining and eta
  versatiles_node/src/progress.rs
  versatiles_node/src/progress.test.ts
Due: rust-fmt, node-format

fix: handle undefined ETA in progress output
  versatiles_node/examples/convert-with-progress.mjs
  versatiles_node/src/progress.test.ts
Due: node-format

fix: refactor ETA calculation to use SystemTime for improved accuracy
  versatiles_node/src/progress.rs
Due: rust-fmt

Path conditions:
  rust-fmt: any of: *.rs
  node-format: any of: versatiles_node/**/*.{ts,js,json,md}
  node-typecheck: any of: versatiles_node/src/**/*.ts
  node-lint: any of: versatiles_node/src/**/*.ts
