Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

lefthook.yml:

# Lefthook configuration for versatiles-rs
# Optional but recommended for contributors
#
# Installation:
#   macOS:   brew install lefthook
#   Linux:   See https://github.com/evilmartians/lefthook
#   Windows: scoop install lefthook
#
# Setup: lefthook install

pre-commit:
  parallel: true

  commands:
    # Rust formatting check (fast)
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt -- --check
      stage_fixed: true

    # Node.js formatting check (fast)
    node-format:
      glob: 'versatiles_node/**/*.{ts,js,json,md}'
      run: cd versatiles_node && npm run format:check
      stage_fixed: true

    # TypeScript type check (medium speed)
    node-typecheck:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run typecheck

    # ESLint (fast)
    node-lint:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run lint

pre-push:
  parallel: false

  commands:
    # Full Node.js checks before push
    node-check:
      run: cd versatiles_node && npm run check

    # Full Rust checks before push
    rust-check:
      run: |
        source scripts/env-gdal.sh
        cargo clippy --workspace --all-targets -- -D warnings

    # All tests before push
    test:
      run: |
        source scripts/env-gdal.sh
        cargo test --workspace --all-targets

refactor: generalize read_from_cache method to accept different byte slice types
  versatiles_container/src/cache/traits.rs
  versatiles_container/src/cache/traversal_cache.rs
  versatiles_container/src/types/tile/cache.rs
  versatiles_container/src/types/tile_content.rs
Due: rust-fmt

refactor: update CacheValue trait to use dynamic writer and reader types
  versatiles_container/src/cache/traits.rs
  versatiles_container/src/cache/traversal_cache.rs
  versatiles_container/src/types/tile/cache.rs
  versatiles_container/src/types/tile_content.rs
Due: rust-fmt

feat: add cache_dir option to CLI for temporary cache file directory
  versatiles/src/main.rs
Due: rust-fmt

feat: enhance Disk variant of TraversalCache with unique file handling and directory structure
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

feat: enhance Disk variant of TraversalCache to track file paths for each index
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

feat: optimize file reading in TraversalCache to reduce memory usage
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

refactor: refactor file creation logic in Disk variant of TraversalCache
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

feat: implement CountingReader for efficient byte tracking and enhance file reading with buffered I/O
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

feat: enhance TraversalCache to read files concurrently with improved I/O handling
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

feat: enhance take_stream method to use bounded channel for memory-efficient value streaming
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

feat: optimize value streaming in TraversalCache by processing stream elements individually
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

feat: improve error handling in file reading for TraversalCache
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

feat: update TraversalCache constructor to return Result for improved error handling
  versatiles_container/src/cache/traversal_cache.rs
  versatiles_container/src/traversal/traits.rs
Due: rust-fmt

feat: enhance documentation for TraversalCache with detailed usage and storage information
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

feat: refactor TraversalCache to remove synchronous append and take methods, replacing them with stream-based alternatives for improved performance and memory efficiency
  versatiles_container/src/cache/traversal_cache.rs
Due: rust-fmt

refactor(tests): improve readability of VPL serialization test assertions
  versatiles_node/src/vpl.test.ts
Due: node-format

feat(tsconfig): format exclude array for better readability
  versatiles_node/tsconfig.json
Due: none

feat(docs): add examples for VPL pipeline and multi-source integration in README
  versatiles_node/README.md
Due: none

feat(decode_vpl): enhance field processing with metadata for code generation
  versatiles_derive/src/decode_vpl.rs
Due: rust-fmt

feat(eslint): add ignores for auto-generated vpl files in ESLint config
  versatiles_node/eslint.config.js
Due: none

test(decode_vpl): enhance tests for generated parsing code and field metadata retrieval
  versatiles_derive/src/decode_vpl.rs
Due: rust-fmt

feat(vpl): add VPLFieldMeta struct and enhance OperationFactoryTrait with field metadata retrieval
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/operations/macros.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/operation.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/vector/vector_filter_layers.rs
  versatiles_pipeline/src/operations/vector/vector_filter_properties.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
  versatiles_pipeline/src/vpl/field_meta.rs
  versatiles_pipeline/src/vpl/mod.rs
Due: rust-fmt

feat(scripts): enhance build process to include VPL generation in debug builds
  versatiles_node/package.json
Due: none

feat(docs): update README with build process and requirements for native module and VPL TypeScript library
  versatiles_node/README.md
Due: none

feat(deps): update serde and serde_json dependencies and their versions
  Cargo.lock
  Cargo.toml
  versatiles_node/Cargo.toml
Due: none

feat(pipeline): refactor from_str method to return Result and update tests
  versatiles_pipeline/src/vpl/vpl_pipeline.rs
Due: rust-fmt

feat(vpl): implement VPL TypeScript generation and add related tests
  versatiles_node/.gitignore
  versatiles_node/Cargo.toml
  versatiles_node/package.json
  versatiles_node/scripts/generate-vpl.ts
  versatiles_node/src/codegen.rs
  versatiles_node/src/lib.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/vpl.test.ts
  versatiles_node/tsconfig.json
  versatiles_node/tsconfig.vpl.json
Due: rust-fmt, node-format

feat(factory): add operation metadata struct and function for retrieving operation metadata
  versatiles_pipeline/src/factory.rs
Due: rust-fmt

feat(codegen): add field metadata retrieval for operations and enhance VPL integration
  versatiles/Cargo.toml
  versatiles_derive/src/decode_vpl.rs
  versatiles_pipeline/Cargo.toml
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
  versatiles_pipeline/src/lib.rs
  versatiles_pipeline/src/operations/macros.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/operation.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/vector/vector_filter_layers.rs
  versatiles_pipeline/src/operations/vector/vector_filter_properties.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
  versatiles_pipeline/src/vpl/mod.rs
Due: rust-fmt

feat(docs): update build process instructions for native module and VPL library in README
  versatiles_node/README.md
Due: none

test(tests): update assertions to ignore spaces in field metadata checks
  versatiles_derive/src/decode_vpl.rs
Due: rust-fmt

feat(tests): add RUST_LOG environment variable to test commands for better logging
  versatiles_node/package.json
Due: none

feat(examples): add vpl-pipeline.ts for programmatic VPL pipeline building examples
  versatiles_node/README.md
  versatiles_node/examples/README.md
  versatiles_node/examples/vpl-pipeline.ts
Due: node-format

chore(dependencies): update tokio to 1.50.0 and quote to 1.0.45
  Cargo.lock
  Cargo.toml
  versatiles_derive/Cargo.toml
Due: none

chore: set RUST_LOG environment variable for test coverage and execution in vitest.config.js
  versatiles_node/package.json
  versatiles_node/vitest.config.ts
Due: none

release: v3.8.0
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

docs: add Data Source Syntax section to README.md
  README.md
Due: none

docs: update VPL filter syntax in help_source.md and README.md
  README.md
  versatiles/src/tools/help_source.md
Due: none

chore: add CodeQL analysis workflow and configuration
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

chore: remove JavaScript/TypeScript language option from CodeQL analysis
  .github/workflows/codeql.yml
Due: none
