Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

lefthook.yml:

# Lefthook configuration for versatiles-rs
# Optional but recommended for contributors
#
# Installation:
#   macOS:   brew install lefthook
#   Linux:   See https://github.com/evilmartians/lefthook
#   Windows: scoop install lefthook
#
# Setup: lefthook install

pre-commit:
  parallel: true

  commands:
    # Rust formatting check (fast)
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt -- --check
      stage_fixed: true

    # Node.js formatting check (fast)
    node-format:
      glob: 'versatiles_node/**/*.{ts,js,json,md}'
      run: cd versatiles_node && npm run format:check
      stage_fixed: true

    # TypeScript type check (medium speed)
    node-typecheck:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run typecheck

    # ESLint (fast)
    node-lint:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run lint

pre-push:
  parallel: false

  commands:
    # Full Node.js checks before push
    node-check:
      run: cd versatiles_node && npm run check

    # Full Rust checks before push
    rust-check:
      run: |
        source scripts/env-gdal.sh
        cargo clippy --workspace --all-targets -- -D warnings

    # All tests before push
    test:
      run: |
        source scripts/env-gdal.sh
        cargo test --workspace --all-targets

feat: update TileSource handling to use Arc for improved memory management and add addTileSourceFromPath method
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles_node/examples/serve.ts
  versatiles_node/src/server.rs
  versatiles_node/src/server.test.ts
  versatiles_node/src/tile_source.rs
Due: rust-fmt, node-format

refactor: remove unnecessary Arc wrappers from TileSourceList and StaticSourceList for simplified ownership management
  versatiles_node/src/server.rs
Due: rust-fmt

refactor: simplify TileServer field types by removing Mutex for port, ip, and minimal_recompression
  versatiles_node/src/server.rs
Due: rust-fmt

feat: implement convert_to method in TileSource for format conversion with options and progress callbacks
  versatiles_node/src/convert.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/tile_source_convert.test.ts
Due: rust-fmt, node-format

refactor: update import paths to use scoped package
  versatiles_node/examples/convert-with-progress.ts
  versatiles_node/examples/convert.ts
  versatiles_node/examples/probe.ts
  versatiles_node/examples/read-tiles.ts
  versatiles_node/examples/serve.ts
  versatiles_node/package.json
  versatiles_node/tsconfig.json
Due: node-format

fix: use correct runtime
  versatiles_node/src/convert.rs
Due: rust-fmt

release: v3.0.2
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

docs: update PACKAGE.md and README.md for dual format support and example improvements
  versatiles_node/PACKAGE.md
  versatiles_node/README.md
  versatiles_node/examples/README.md
Due: node-format

docs: improve documentation for progress, tile source, conversion options, server options, and tile coordinates
  versatiles_node/src/progress.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/types/convert_options.rs
  versatiles_node/src/types/server_options.rs
  versatiles_node/src/types/tile_coord.rs
Due: rust-fmt

refactor: update from_vpl method to accept an optional directory parameter
  versatiles_node/src/tile_source.rs
Due: rust-fmt

fix: build ESM and CJS
  versatiles_node/package.json
Due: none

test: update from_vpl test to accept an optional directory parameter
  versatiles_node/src/server.rs
Due: rust-fmt

fix: update docs:serve script to include silent mode and cache control
  versatiles_node/package.json
Due: none

docs: add missing line breaks in PACKAGE.md and examples README files
  versatiles_node/PACKAGE.md
  versatiles_node/README.md
  versatiles_node/examples/README.md
Due: node-format

feat: enable manual triggering of documentation workflow
  .github/workflows/docs.yml
Due: none

fix: allow manual triggering of documentation workflow
  .github/workflows/docs.yml
Due: none

fix: change npm ci to npm i
  .github/workflows/docs.yml
Due: none

fix: change build command to use debug mode to reduce compile time
  .github/workflows/docs.yml
Due: none

fix: add steps to download NAPI bindings and build JavaScript wrappers
  .github/workflows/release.yml
Due: none

release: v3.0.3
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: update build process to use debug mode and remove native bindings from main package
  .github/workflows/release.yml
Due: none

fix: remove unnecessary file entries from package.json
  versatiles_node/package.json
Due: none

release: v3.0.4
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

fix: update release workflow and Dockerfile for improved NAPI binding support and static linking
  .github/workflows/release.yml
  docker/build-linux.Dockerfile
  versatiles_node/package.json
Due: none

fix: add RUN_TESTS argument to Dockerfiles to control test execution during builds
  .github/workflows/release.yml
  docker/build-linux.Dockerfile
Due: none

fix: update cache scope in Docker build arguments for ARM and x86 architectures
  .github/workflows/release.yml
Due: none

fix: add build output verification step in Dockerfile
  docker/build-linux.Dockerfile
Due: none

fix: remove redundant file type verification in Dockerfile build output step
  docker/build-linux.Dockerfile
Due: none

fix: add publish options for npm and crates.io in release workflow
  .github/workflows/release.yml
Due: none

fix: add actual port caching for synchronous access in TileServer
  versatiles_node/examples/serve.ts
  versatiles_node/src/server.rs
  versatiles_node/src/server.test.ts
Due: rust-fmt, node-format

fix: rename port to initial_port for clarity in TileServer struct
  versatiles_node/src/server.rs
Due: rust-fmt

fix: improve error handling for tile decompression in TileSource
  versatiles_node/src/tile_source.rs
Due: rust-fmt

fix: improve error handling for port caching in TileServer
  versatiles_node/src/server.rs
Due: rust-fmt

fix: enhance error handling for actual port retrieval in TileServer
  versatiles_node/src/server.rs
Due: rust-fmt

fix: handle potential None values for minzoom and maxzoom in TileJSON
  versatiles_node/src/types/tilejson.rs
Due: rust-fmt

fix: correct port logging in TileServer example and update return type in documentation
  versatiles_node/README.md
Due: none

fix: update documentation for ServerOptions with additional examples for port usage
  versatiles_node/src/types/server_options.rs
Due: rust-fmt

test: add concurrent port read tests for TileServer
  versatiles_node/src/server.rs
Due: rust-fmt

fix: refactor reader handling to use Arc
  versatiles/src/server/sources/static_source_tar.rs
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
  versatiles_container/src/lib.rs
  versatiles_container/src/runtime/outer.rs
  versatiles_container/src/types/container_registry.rs
  versatiles_container/src/types/converter.rs
  versatiles_node/src/convert.rs
  versatiles_node/src/server.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/tile_source_convert.test.ts
  versatiles_pipeline/src/helpers/container_registry.rs
  versatiles_pipeline/src/helpers/pipeline_reader.rs
Due: rust-fmt, node-format

fix: update documentation for TileServer and TileSource regarding hot reload and VPL source conversion
  versatiles_node/src/server.rs
  versatiles_node/src/tile_source.rs
Due: rust-fmt
