Repository versatiles-org/versatiles-rs: changes, and which lefthook commands are due for each by the changed paths.
All: rust-fmt, node-format, node-typecheck, node-lint

lefthook.yml:

# Lefthook configuration for versatiles-rs
# Optional but recommended for contributors
#
# Installation:
#   macOS:   brew install lefthook
#   Linux:   See https://github.com/evilmartians/lefthook
#   Windows: scoop install lefthook
#
# Setup: lefthook install

pre-commit:
  parallel: true

  commands:
    # Rust formatting check (fast)
    rust-fmt:
      glob: '*.rs'
      run: cargo fmt -- --check
      stage_fixed: true

    # Node.js formatting check (fast)
    node-format:
      glob: 'versatiles_node/**/*.{ts,js,json,md}'
      run: cd versatiles_node && npm run format:check
      stage_fixed: true

    # TypeScript type check (medium speed)
    node-typecheck:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run typecheck

    # ESLint (fast)
    node-lint:
      glob: 'versatiles_node/src/**/*.ts'
      run: cd versatiles_node && npm run lint

pre-push:
  parallel: false

  commands:
    # Full Node.js checks before push
    node-check:
      run: cd versatiles_node && npm run check

    # Full Rust checks before push
    rust-check:
      run: |
        source scripts/env-gdal.sh
        cargo clippy --workspace --all-targets -- -D warnings

    # All tests before push
    test:
      run: |
        source scripts/env-gdal.sh
        cargo test --workspace --all-targets

refactor(pipeline): spell max_tile_bytes as a value, scale the soft cap
  versatiles_derive/src/decode_vpl.rs
  versatiles_node/src/codegen.rs
  versatiles_pipeline/README.md
  versatiles_pipeline/src/helpers/feature_tile_source.rs
  versatiles_pipeline/src/helpers/tile_size_monitor.rs
  versatiles_pipeline/src/operations/read/from_csv.rs
  versatiles_pipeline/src/operations/read/from_geo.rs
Due: rust-fmt

chore(ci): add concurrency settings to manage in-flight CI runs
  .github/workflows/ci.yml
Due: none

chore(ci): restrict CI runs to main and dev branches for efficiency
  .github/workflows/ci.yml
Due: none

chore: Update dependencies across multiple crates
  Cargo.lock
  Cargo.toml
  versatiles_container/Cargo.toml
  versatiles_core/Cargo.toml
  versatiles_node/Cargo.toml
Due: none

chore: update devDependencies and optionalDependencies in package.json
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

refactor(reader): add #[must_use] attribute to open_path and open_reader methods
  versatiles_container/src/types/reader.rs
Due: rust-fmt

chore(ci): remove RUSTFLAGS environment variable from Windows test job
  .github/workflows/ci.yml
Due: none

release: v4.7.0
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

ci: separate build and run steps for tests to improve timing clarity
  .github/workflows/ci.yml
Due: none

chore(ci): update environment variables to optimize CI performance
  .github/workflows/ci.yml
Due: none

refactor(workflows): standardize step names for clarity in CI and release workflows
  .github/actions/setup-gdal/action.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

ci: enable GDAL feature for documentation build to ensure proper linting
  .github/workflows/ci.yml
Due: none

ci: remove GDAL setup step from documentation workflow
  .github/workflows/docs.yml
Due: none

ci: update debug settings to optimize test build performance
  .github/workflows/ci.yml
Due: none

ci: remove Rust caching steps from release and docs workflows
  .github/workflows/docs.yml
  .github/workflows/release.yml
Due: none

fix(parser): improve handling of empty strings and escape sequences in quoted strings, close #218
  versatiles_pipeline/README.md
  versatiles_pipeline/src/help.md
  versatiles_pipeline/src/vpl/parser.rs
Due: rust-fmt

feat(serializer): add VPL serialization module for converting pipelines to text
  versatiles_pipeline/src/vpl/mod.rs
  versatiles_pipeline/src/vpl/serializer.rs
Due: rust-fmt

fix(parser): simplify VPL parsing logic and improve error handling
  versatiles_pipeline/src/vpl/parser.rs
Due: rust-fmt

feat(parser): add structured error handling for VPL parsing
  versatiles_pipeline/src/vpl/error.rs
  versatiles_pipeline/src/vpl/mod.rs
  versatiles_pipeline/src/vpl/parser.rs
Due: rust-fmt

feat(parser): enhance error handling with detailed trace and structured errors
  versatiles_pipeline/src/vpl/error.rs
  versatiles_pipeline/src/vpl/mod.rs
  versatiles_pipeline/src/vpl/parser.rs
Due: rust-fmt

fix(parser): update error handling to use reference for VerboseError in VPL parsing
  versatiles_pipeline/src/vpl/error.rs
  versatiles_pipeline/src/vpl/parser.rs
Due: rust-fmt

feat(parser): enhance error messages with detailed descriptions for parsing failures
  versatiles_pipeline/src/vpl/error.rs
  versatiles_pipeline/src/vpl/parser.rs
Due: rust-fmt

feat(parser): add detailed examples for error handling and parsing functions
  versatiles_pipeline/src/vpl/mod.rs
  versatiles_pipeline/src/vpl/parser.rs
  versatiles_pipeline/src/vpl/serializer.rs
Due: rust-fmt

feat(cst): introduce concrete syntax tree for VPL with shared quoting logic
  versatiles_pipeline/src/vpl/cst.rs
  versatiles_pipeline/src/vpl/mod.rs
  versatiles_pipeline/src/vpl/serializer.rs
Due: rust-fmt

feat(cst): add lossless parser for VPL with comprehensive token handling
  versatiles_pipeline/src/vpl/cst_parser.rs
  versatiles_pipeline/src/vpl/mod.rs
Due: rust-fmt

feat(parser): improve error handling for malformed escape sequences and refactor parsing functions
  versatiles_pipeline/src/vpl/cst_parser.rs
  versatiles_pipeline/src/vpl/error.rs
  versatiles_pipeline/src/vpl/parser.rs
Due: rust-fmt

feat(cst): add methods for managing properties and nodes, and reindex spans after parsing
  versatiles_pipeline/src/vpl/cst.rs
  versatiles_pipeline/src/vpl/cst_parser.rs
Due: rust-fmt

feat(vpl): implement VPL parsing and stringifying with error reporting
  versatiles_node/src/codegen.rs
  versatiles_node/src/lib.rs
  versatiles_node/src/tile_source.rs
  versatiles_node/src/vpl.rs
  versatiles_node/src/vpl.test.ts
Due: rust-fmt, node-format

feat(cst): implement lossless syntax tree with parsing and stringifying functions
  Cargo.lock
  versatiles_node/src/codegen.rs
  versatiles_node/src/vpl.rs
  versatiles_node/src/vpl.test.ts
  versatiles_pipeline/Cargo.toml
  versatiles_pipeline/src/vpl/cst.rs
Due: rust-fmt, node-format

feat(docs): enhance README and mod.rs with VPL usage examples and tree explanations
  versatiles_node/README.md
  versatiles_pipeline/src/vpl/mod.rs
Due: rust-fmt

release: v4.8.0
  Cargo.lock
  Cargo.toml
  versatiles_node/package-lock.json
  versatiles_node/package.json
Due: none

docs: explain the libsqlite3-sys conflict when bundling GDAL
  DEVELOPMENT.md
Due: none

feat(converter): add tile count limit configuration and checks, close #227
  README.md
  versatiles_container/src/types/converter.rs
  versatiles_container/src/types/mod.rs
Due: rust-fmt

feat: give SourceType accessors for name, input and kind
  versatiles_container/src/types/tile_source_type.rs
  versatiles_node/src/tile_source.rs
Due: rust-fmt

refactor(server): rename source_name() to source_description()
  versatiles/src/server/sources/tile_source.rs
  versatiles/src/server/tile_server.rs
Due: rust-fmt

refactor(node): remove the orphaned ProbeResult type
  versatiles_node/src/README.md
  versatiles_node/src/lib.rs
  versatiles_node/src/types/mod.rs
  versatiles_node/src/types/probe_result.rs
Due: rust-fmt, node-format

feat(geometry): make the per-layer byte breakdown usable as a library
  versatiles/src/tools/dev_tools/analyze_tile.rs
  versatiles/src/tools/mod.rs
  versatiles/src/tools/probe.rs
  versatiles_geometry/src/vector_tile/mod.rs
  versatiles_geometry/src/vector_tile/stats.rs
Due: rust-fmt

feat: update formatting commands to use cargo fmt-all and fmt-check
  .cargo/config.toml
  .github/workflows/ci.yml
  CONTRIBUTING.md
  DEVELOPMENT.md
  README.md
  lefthook.yml
  rustfmt.toml
  scripts/README.md
  scripts/check-rust.sh
  scripts/format.sh
  scripts/test-unix.sh
  versatiles_node/CONTRIBUTING.md
Due: none

feat(vpl): expose an operation summary separately from its full doc
  versatiles_derive/src/decode_vpl.rs
  versatiles_node/src/codegen.rs
  versatiles_pipeline/src/factory.rs
  versatiles_pipeline/src/operations/macros.rs
  versatiles_pipeline/src/operations/read/from_gdal/dem/operation.rs
  versatiles_pipeline/src/operations/read/from_gdal/raster/operation.rs
  versatiles_pipeline/src/operations/vector/vector_filter_features.rs
  versatiles_pipeline/src/operations/vector/vector_filter_layers.rs
  versatiles_pipeline/src/operations/vector/vector_filter_properties.rs
  versatiles_pipeline/src/operations/vector/vector_update_properties.rs
Due: rust-fmt
